[2017-10-04 14:37] narigondelsiglo opened #1 "TypeError: Cannot read property 'members' of undefined"
Hi Sacha, first of all: great work man!

We are trying to get working the new way of [two repo install](http://docs.vulcanjs.org/#Two-Repo-Install) (5 days old) that's forking this project as starting point (or by creating an empty meteor app), but when running meteor with the example-simple the following appears:

[code]

Are we doing something wrong?

[2017-10-05 09:28] SachaG commented on #1
I'll take a look, I still haven't fully adapted all examples for the upcoming Vulcan 1.8 release (make sure you're on the `devel` branch for the main Vulcan repo btw). So it's possible that something doesn't quite work yet.

[2017-10-06 07:27] hammannja opened #2 "Two Repo Install Instructions fail at METEOR_PACKAGE_DIRS"
Using the Two-Repo Install Instructions at http://docs.vulcanjs.org/, when attempting Step #3, I get the following "not recognized" error:

PS C:\Users\Jerry\Documents\dGit\FairEnd> METEOR_PACKAGE_DIRS="C:/Users/Jerry/Documents/dGit/Vulcan/packages" meteor --port 3000 --settings settings.json

METEOR_PACKAGE_DIRS=C:/Users/Jerry/Documents/dGit/Vulcan/packages : The term 'METEOR_PACKAGE_DIRS=C:/User

[2017-10-06 12:57] narigondelsiglo commented on #2
@hammannja the installing instructions applies to mac and linux (***bash***), as the command uses environment variables for ***bash***.
You should read how te set the meteor's METEOR_PACKAGE_DIRS option in windows, but this hasn't anything to do with VulcanJS.
Good luck!

[2017-10-07 01:42] hammannja commented on #1
I was getting the same error, but have now been able to solve it. For me (I use a Windows environment), the first problem was setting the required Environment Variable.

1. What I believe finally worked was entering SET METEOR_PACKAGE_DIRS="~/Vulcan/packages", where "~" is replaced by a direct link to Vulcan/packages, which for me was "C:\Users\Jerry\Documents\dGit\Vulcan\packages."

2. Then, I re

[2017-10-08 04:35] hammannja commented on #2
Thank you @narigondelsiglo! I was able to fix the problem as follows (in a Windows environment).

What I believe finally worked was entering in the terminal SET METEOR_PACKAGE_DIRS="~/Vulcan/packages", where "~" is replaced by a direct link to Vulcan/packages, which for me was "C:\Users\Jerry\Documents\dGit\Vulcan\packages."

Then, I restarted my computer.

Then I fixed some missing dependencies u

[2017-10-08 04:35] #2 closed

[2017-10-19 21:43] mzastue opened #4 "Seems to missing prestart_vulcan script"
Hi, I think this repo is not fully prepared to creating your own build of vulcan project.
After cloning this repo on my local machine, first thing I do was of course `npm install` but then as VulcanJS main manual says next step is `npm start`, but it needs prestart_vulcan.

I think it could b copied from VulcanJs repo and prepared a little bit for moving example_settings.json to settings.json.

Ch

[2017-10-20 01:41] SachaG commented on #4
I don't think we need prestart_vulcan.sh, I'll remove it. Anyway this will be replaced by the CLI tool soon :)

[2017-10-20 01:41] #4 closed

[2017-11-09 18:21] wfsaxton opened #7 "Getting error: Fragment "UsersCurrent" registered, but not initialized"
I followed the complete installation instructions in the README and am getting the following error when I attempt to bring up the server:

[code]

[2017-11-09 18:33] wfsaxton commented on #7
The first "test" goes fine, although it does have the same warning messages:

[code]

[2017-11-09 18:37] wfsaxton commented on #7
Not sure what the issue was, but I re-ran the instructions again and the error seems to have cleared up.

[2017-11-09 18:37] #7 closed

[2017-11-11 15:53] yancoupro opened #8 "fresh install - Fragment "UsersCurrent" registered, but not initialized."
Hi,

I run the steps from the README and I get this error at the last step.
[code]

I found this blog post for help, but don’t know where to start.
https://blog.vulcanjs.org/vulcanjs-1-8-a-better-architecture-2eef7375e6f1

Thanks

[2017-11-12 02:30] yancoupro commented on #8
sorry for bothering you, I upgraded, and redid the process from scratch and it works.

[2017-11-12 02:30] #8 closed

[2018-01-25 12:47] Apollinaire opened #9 "Getting-Started tutorial: Report and bug list"
### General thoughts
Excellent tutorial, good walkthrough of the framework for level zero beginners. The way it's done makes it really to understand the global architecture of the framework, it's better than other tutorials for this. Took me approx. two hours, including the making of this report and playing with the bugs

### Suggestions and issues met during the tutorial

- [ ] React is running o

[2018-01-25 12:53] SachaG commented on #9
Thanks do the great feedback! This will really help improve the tutorial :)

[2018-01-25 13:37] SachaG commented on #9
Oh actually I forgot that parts of the tutorial relied on the main repo's `devel` branch, so ideally you need to use the 2-repo install to do it. Or I can try to push an update soon.

That explains a few of the issues you mention, like the sorting for example.

[2018-01-26 02:45] SachaG commented on #9
I think that's normal when running locally.

I agree this would be better but having it commented out makes it easier for me to go back and forth between the non completed/completed states of each step.

Hmm I couldn't reproduce that…

This is a limitation of MongoDB :(

[2018-01-26 09:27] Apollinaire commented on #9
It got fixed with this commit 7150e23c41ed2c7551b48ac7d70275b3d68c0f65
`user {displayName}` in fragments.js was the source of the problem

[2018-01-27 23:39] darwis059 commented on #9
![image](https://user-images.githubusercontent.com/7157397/35477487-5ee764c8-03fe-11e8-8332-1da941629f78.png)

[2018-01-28 02:11] SachaG commented on #9
Oh you're right, sorry fixing it now.

[2018-01-31 00:22] Denisolt opened #10 "can't start an app"
hey, completely new to Meteor and Node. I was following your setup, but I keep getting the same error. Running it on OS X 10.13
![screen shot 2018-01-30 at 19 22 02](https://user-images.githubusercontent.com/17182033/35598677-e00f2810-05f2-11e8-82c9-bb94694b3d69.png)

Thank you in advance.

[2018-01-31 06:00] SachaG commented on #10
Someone else reported the same error, they said re-cloning the repo helped?

[2018-01-31 16:11] liamr commented on #10
I'm getting the same, even after re-cloning. 10.13 too.

[2018-01-31 22:53] SachaG commented on #10
I'm not sure what the issue is yet but I suspect it has to do with Meteor 1.6.1. Maybe this can help?

https://blog.meteor.com/announcing-meteor-1-6-1-50aad71da4e6

I'll try to find some time to do more testing soon.

[2018-01-31 22:54] SachaG commented on #10
Another fix might be switching to the 2-repo setup: http://docs.vulcanjs.org/#Two-Repo-Install-Optional

This way you can run the `devel` branch of the core repo and be sure to have the most up-to-date code.

[2018-02-02 02:33] TylerL-uxai opened #12 "Step12: The loader.load() function must be called with a value,but got: undefined"
Following along with the tutorial and got this error on Resolvers

[code]

Modified (uncommented) code
[code]
[code]

Here's the query from meteor mongo:
[code]

Update:

After debugging, I found the line that's causing the program to crash
`
return await context.Users.loader.load(movie.userId);`

[2018-02-02 04:12] TylerL-uxai commented on #12
Seeding movies is called before the dummy users are created (async type error)
[code]

[2018-02-02 09:18] SachaG commented on #12
Oh right, see also https://github.com/VulcanJS/Vulcan/pull/1849

Let me know if it's fixed now.

[2018-02-02 11:54] TylerL-uxai commented on #12
Trying to merge, but it's in a different repo (VulcanJs instead of Vulcan-Starter)

[2018-02-02 14:00] SachaG commented on #12
Oh sorry, I meant I fixed it here: https://github.com/VulcanJS/Vulcan-Starter/commit/c0166f9fb29acefb293c9e2bada95d358b815885

[2018-02-02 20:34] TylerL-uxai commented on #12
Check out step 12 with the dummy data. userId still isn't being added, but you did fix the async.

`return await context.Users.loader.load(movie.userId); //movie.userId === undefined`

[2018-02-03 01:55] SachaG commented on #12
OK, got it. I was missing a `return` statement! Should work now :)

[2018-02-04 13:02] jamesmillerburgess opened #14 "`onInsert` property not present in schema"
Great tutorial! Very interactive and easy to follow. 👍

I just found one issue that isn't already reported on this repo:

**Step 5:** *"Note that* `createdAt` *has an* `onInsert` *property, which returns a callback that will set it to the current timestamp whenever a new document is inserted."*
There isn't an `onInsert` property listed in the schema.

<img width="188" alt="screen shot 2018-02-04 a

[2018-02-05 09:40] SachaG commented on #14
Oh right, that's because `JSON.stringify` doesn't work on functions. I'll fix it.

[2018-02-05 09:40] #14 closed

[2018-02-07 03:32] Denisolt commented on #10
The issue was solved by cloning the repo again. Magically worked. Good luck @liamr
One note tho, first time I have cloned the repo into my projects folder and it failed. Later, I re-cloned it to Home directory (literally `cd` and cloned again) and it worked. hope this helps

[2018-02-09 08:51] valgalin opened #16 "Example-forum package: Update parameter cannot have both modifier and non-modifier fields."
In the example-forum package, I set the setting `forum.requirePostsApproval` to true. But when I try to approved a user's pending post, I get this error message:

**Update parameter cannot have both modifier and non-modifier fields.**

When I try to set it to other status like rejected, it works. The pending status is the only one that does not work.

Maybe it has something to do with this code in

[2018-02-12 18:36] efficienthacks commented on #12
I googled around and found this because I was getting the same error...

Already tried replacing the /getting-started/lib/server/seed.js file with the one at c0166f9

Then I went to the meteor shell to call seedMovies(), but I'm still getting the error..

How would I fix this (without reinstalling the whole thing). Any suggestions? Thanks

[2018-02-14 08:34] SachaG commented on #12
@efficienthacks you would also need to add the code from here: https://github.com/VulcanJS/Vulcan-Starter/commit/8f944b33fbc437c807682d3bf587fc25b6d6df97

Or you could `git pull` the repo to get the latest version.

[2018-02-20 17:37] robeastham opened #22 "Getting-Started tutorial: Step 5 bug in text displayed"
After completing Step 5 the returned text says:

However the **_createdAt_** only appears in the actual source code and not in the inline version returned to the user the through the webpage. Dashing out the door now and wanted to log here. Will try and figure out why and send a pull request.

[2018-02-21 00:40] SachaG commented on #22
Oh sorry about that, I changed that to use a plain text string to avoid these issues but it looks like I had forgotten to actually push. Can you check again now?

https://github.com/VulcanJS/Vulcan-Starter/blob/master/packages/getting-started/lib/components/other/Schema.jsx

[2018-02-21 13:18] robeastham commented on #22
All good now after pulling and merging master. Thanks Sacha.

[2018-02-22 05:28] dfcarpenter opened #23 "Getting-Started Tutorial Step 17"
Getting Strage behavior on signup and login. I have now created three users who are all admins. The signup form seems to always hang when submitted. The image below shows the error in the chrome dev console. I'm not sure what the expected behavior is but I assume it should refresh the page and show me as logged in or show the login form.
![image](https://user-images.githubusercontent.com/4450286/3

[2018-02-23 12:18] movationdesign opened #24 "Voting problem: GraphQL error: Cannot read property '_id' of undefined"
On the example-forum package, if you add or remove a vote, I get the following error (both Master & Devel branch):

[code]

The error might not show up until you vote on a couple of posts, but then it consistently shows up on every add/remove vote toggle from there on.

Quick video: http://g.recordit.co/1pIGgQCdM4.gif

[2018-02-23 12:37] movationdesign opened #25 "Uncaught SyntaxError: Unexpected token ) — When adding a new post / movie:"
I checked the example-simple, example-movies, example-forum, example-customization packages I get this error, when adding a post/movie (on both Master & Devel branch).

[code]

Could it a be a mismatch, that it needs to be a closing curly brace `}` instead?

I can't find any problem in `PostsEditForm.jsx` component but might not be related this issue?

[2018-02-23 13:53] luhagel commented on #25
It would help to see the questionable code ;)

[2018-02-24 07:16] lorensr opened #27 "Lint errors"
[code]

[2018-02-24 07:43] lorensr opened #28 "Apollo network error during OAuth login"
This happens every time I log in: (via Github, but prob same for other providers)

[code]

[2018-02-24 07:44] lorensr opened #29 "Warning: updating an unmounted component"
Repro:

- refresh page
- login (I did via Github)
- click "log out"

Doesn't happen on subsequent logouts.

[code]

[2018-02-24 08:03] SachaG commented on #28
This is kind of a known issue, but it also doesn't seem to have any impact. I'm not sure where it's coming from to be honest…

[2018-02-25 00:27] lorensr opened #30 "Add peer deps"
[code]

[2018-02-25 19:48] Discordius opened #31 "Vote resolver allows for multiple votes if you submit too many requests in a short time"
The current vote resolver checks the database whether you've already voted on something, and if you have, cancels your vote, which changes the score of the item you are voting on. If you vote again before the database operation completes, then the resolver is going to cancel your vote twice, which means that the score decreases by twice your voting power. This allows you to arbitrarily manipulate

[2018-03-02 04:43] farjang opened #34 "example-forum when filter by category and voteup, posts disappear from view"
**Steps to reproduce**
1. use example-form
2. assign a category to a post
3. filter by category
4. vote up

**Results:**
Posts disappear from view

**Expected Results:**
Posts should still be there

[2018-03-02 23:14] Discordius commented on #24
Yep, ran into the same problem. For now I reverted back to the vote.js code from a few weeks ago.

[2018-03-03 01:35] #24 closed

[2018-03-03 03:04] #34 closed

[2018-03-03 03:31] SachaG commented on #34
I just removed the part of the code that was supposed to resort the list after a vote. It was probably confusing to have your post jump up or down the list anyway.

[2018-03-03 06:09] SachaG commented on #31
Can you specify how to recreate the bug? Is it just by clicking the upvote button rapidly?

[2018-03-04 03:25] jefflau opened #37 "Step 13 Client error"
I'm creating an account on step 13 of the getting started tutorial. When I go to make a user I get this error:

[code]

When I refresh, the user has been registered and everything seems to work fine

[2018-03-04 03:36] jefflau commented on #37
Same thing happens at step 17

[2018-03-04 13:59] adalidda commented on #28
Hi,

I have the same issue using forum example with Vulcan 1.8.10.
modules.js?hash=c1981499c8a16601d97b116216f598be73c83e4d:79324 Uncaught (in promise) Error: Network error: Store reset while query was in flight.
    at new ApolloError (modules.js?hash=c1981499c8a16601d97b116216f598be73c83e4d:79324)
    at modules.js?hash=c1981499c8a16601d97b116216f598be73c83e4d:80393
    at meteor.js?hash=c9a34f9

[2018-03-04 16:46] horodnicdragos opened #38 "Start fails"
Greetings!

I believe something went wrong with the 1.8.10 update and I cannot start vulcan from the two repo method. The setps to reproduce are fairly easy, just clone the two repos, install all required node packages and run like below:

METEOR_PACKAGE_DIRS="~/Documents/Vulcan/packages" meteor --port 3000 --settings settings.json
[[[[[ ~/Documents/market/Vulcan-Starter ]]]]]

=> Started proxy.
=

[2018-03-04 16:48] gabimoncha commented on #38
Same here on Meteor 1.6.1 and Node 8.9.1

[2018-03-04 19:57] maxhash commented on #29
I experience the same error using the plain username/password method. Not sure what is causing this issue though.

[2018-03-04 23:37] SachaG commented on #38
Thanks, I'll take a look today

[2018-03-04 23:41] SachaG commented on #38
I'm not seeing anything wrong locally, so can you try just deleting your `.meteor/versions` file in your copy of the starter repo to force a package refresh, and/or making sure all versions of the `vulcan:*` packages in there are set to `1.8.10`?

[2018-03-05 00:05] SachaG commented on #28
I just tried running the app in production mode, and although I get the error the error does get logged in. Can you confirm which environment you're running in? Or maybe even give me a link to your app so I can try it out for myself?

[2018-03-05 00:24] SachaG commented on #38
Actually there were a couple packages that still had old versions. Can you pull and try again?

[2018-03-05 00:56] SachaG commented on #37
Sorry about that, pushing 1.8.11 now which should hopefully fix it.

[2018-03-05 03:20] adalidda commented on #28
Sacha, you are right, user can log in even with an error.

if you want to check:
user: vulcan
email: info@adalidda.com
password: vulcanjs

You can test it on our website is https://adalidda.com

[2018-03-05 13:40] adalidda opened #39 "Example-Forum Vulcan 1.8.10 - Search do nothing with the word année"
Hi,

Today, I found a strange issue with search !
If I search with année the search do nothing.
If I search with the following, all are ok:
bonne année
bonne
opérateur
stratégie

So the issue is with the word année only (at least, issue found until now).

You can try it at https://fr.adalidda.com

Thank You
Adalidda

[2018-03-05 15:42] gabimoncha commented on #38
@SachaG there is no versions file in `.meteor/`. Also, all the packages are set to 1.8.10
I pulled the repository again and I have the same issue.

[2018-03-06 00:05] severnsc commented on #38
I'm getting this same error using the regular install. Installed Meteor, cloned repo, ran `npm install` and then `npm start` and get the error:

[code]

[2018-03-06 00:51] SachaG commented on #38
Oh ok my bad, I thought I had published v1.8.11 of the packages but I hadn't :( It should be good now, can you try again? Really sorry about all this…

[2018-03-06 00:53] SachaG commented on #39
Seems to work for me? I don't see any reason why a specific word wouldn't work.

[2018-03-06 18:18] severnsc commented on #38
It's working for me now! Thanks.

[2018-03-06 23:51] adalidda commented on #39
You are right, it's not a bug. The search functionality had been improved a lot, I didn't notice it.

Sorry.
Adalidda.

[2018-03-06 23:51] #39 closed

[2018-03-09 13:58] eric-burel opened #41 "TextBlocks does fail (cannot read property _id of null)"
Hi, on a fresh install this morning, on the `getting-started` branch:

[code]
I suspect an incorrectly seeded database ?

[2018-03-10 02:27] SachaG commented on #41
Is there a specific reason why you're using that branch? Since it has already been merged into `master` I should probably just delete it.

[2018-03-10 07:36] mckinleymedia opened #42 "Date and Boolean fields should have the right form type by default"

[2018-03-10 10:19] songproducer opened #43 "Can't upload picture on instagram-example"
Uploading a local file fails.

Image URL is required.
Schema validation error

[2018-03-10 11:36] eric-burel commented on #41
Works amazingly well, I tried the `getting-stared` branch because I had seen it on the Slack when you introduced this feature. Thanks again for this interactive tutorial, I plan to use it to organize workshops and it will help so much!

[2018-03-10 11:36] #41 closed

[2018-03-10 12:11] SachaG commented on #41
Nice, sorry for the confusion!

[2018-03-25 05:01] adalidda opened #45 "Bugs with latest Vulcan-Starter"
Hi,

Bug 1: After running, npm install, I run npm start and got the following error:

/home/kauprey/Vulcan-Starter/.meteor/local/build/programs/server/boot.js:475
W20180325-11:58:50.559(7)? (STDERR) }).run();
W20180325-11:58:50.560(7)? (STDERR)    ^
W20180325-11:58:50.561(7)? (STDERR)
W20180325-11:58:50.561(7)? (STDERR) Error: Cannot find module '@babel/runtime/helpers/builtin/objectSpread'
W20180

[2018-03-26 13:01] jorisroling commented on #45
+1

[2018-03-26 13:21] SachaG commented on #45
Not sure about the first issue, but the second one is due to a recent version of SimpleSchema. I'll push a fix.

[2018-03-26 13:35] jorisroling commented on #45
Still got the first issue: Error: Cannot find module '@babel/runtime/helpers/builtin/objectSpread'

[2018-03-27 00:08] SachaG commented on #45
Is this when running the getting-started example?

[2018-03-27 07:25] jorisroling commented on #45
This error happens when I `cd` to this project (Vulcan-Starter), initialise it with `npm install`, and start it by typing `npm start`. (all according to the README.md)

[2018-03-29 09:16] adalidda commented on #45
The 2 Bugs are now fixed.
Please update also lib/modules/posts/custom_fields.js
From
    fieldName: 'posts',
    fieldSchema: {
      type: Array,

To
    fieldName: 'posts',
    fieldSchema: {
      type: Object,

Thank You so much.
Adalidda

[2018-03-31 15:58] valgalin commented on #45
@adalidda Thanks! That fixed the issue for me.

[2018-04-08 02:00] SachaG commented on #42
This should work now :)

[2018-04-08 02:00] #42 closed

[2018-04-08 02:03] #45 closed

[2018-04-18 15:26] movationdesign opened #47 "Edit Account route crashes client on example-forum / example-customization"
Vulcan client crashes whenever I click on the Edit Account button `UsersProfile` component. It happens on my custom package as well as a clean Vulcan-starter so it’s not a problem on my end.

So this route http://localhost:3000/users/david/edit
It quickly flashes the `UsersAccount` page before it blanks out.

[code]
And

[code]

It appears to be a problem with the Newsletter component. I've tried

[2018-04-21 23:57] adalidda opened #49 "Seem that the code in example-forms not match those in Youtube video"
Hi,

I tested example-forms and the presentation is not like in youtube video.
Example: the adressses field is with one edit box and the + before submit is missing.

References:
https://blog.vulcanjs.org/vulcan-js-1-9-nested-forms-support-better-image-upload-and-more-8da2076bb43f
https://github.com/VulcanJS/Vulcan-Starter.git
https://www.youtube.com/watch?time_continue=196&v=v3ftplSZWrs

Thank You

[2018-04-22 00:30] SachaG commented on #49
This is what I see when I run the example:

![https://d3vv6lp55qjaqc.cloudfront.net/items/2W2N313H2q3s150k1Z3C/Screen%20Shot%202018-04-22%20at%209.29.28.png?X-CloudApp-Visitor-Id=43642&v=66da0e74](https://d3vv6lp55qjaqc.cloudfront.net/items/2W2N313H2q3s150k1Z3C/Screen%20Shot%202018-04-22%20at%209.29.28.png?X-CloudApp-Visitor-Id=43642&v=66da0e74)

Are you seeing something different?

[2018-04-22 09:52] adalidda commented on #49
Yes, the addresses is with one blank line and there are nothing before submit.

I download the Vulcan Starter this morning.

Thank You
Adalidda

[2018-04-22 09:59] SachaG commented on #49
Maybe you need to update Vulcan itself? Do you have 1.9.1?

[2018-04-23 09:53] adalidda commented on #49
I used the npm install that come with Vulcan-Starter.

OK, I will try again by installing Vulcan 1.9.1 with the example-forms package from the Vulcan-Starter.

Will update you.

Thank You
Adalidda

[2018-04-23 11:02] adalidda commented on #49
Dear @SachaG,

I confirmed that:
by git clone https://github.com/VulcanJS/Vulcan.git (version 1.9.1)
and copy the folder example-forms from Vulcan-Starter and meteor add example-forms

Everything is working fine like in the video https://www.youtube.com/watch?time_continue=196&v=v3ftplSZWrs

So it's mean that you just need to upgrade Vulcan-Starter to Vulcan 1.9.1

Thank You so much and the new fe

[2018-04-24 01:44] SachaG opened #50 "Help wanted: update starter packages for new ui-bootstrap package"
**Goal: remove all dependencies on `react-bootstrap` from Starter repo**

The example packages currently rely a lot on Bootstrap in the form of dependencies on `react-bootstrap`. But we can now get rid of this dependency by replacing all Bootstrap components with their equivalent *Vulcan* component.

In other words, `<Button/>` imported from `react-bootstrap` becomes `<Components.Button/>`; which

[2018-04-24 01:46] SachaG commented on #50
Since the dropdown component is probably the most complex to port, here is an example from zenshome.jp:

[code]

[code]

[code]

[2018-04-24 01:47] SachaG commented on #50
Oh and feel free to also submit PRs back to the core repo to improve the `ui-bootstrap` package.

[2018-04-27 01:54] SachaG commented on #50
I'll probably work on this myself since there are no takers. Also a good chance to review/clean up the Forum code generally.

[2018-04-27 08:11] kabalin commented on #50
I was going to take it.

[2018-04-27 23:27] kabalin commented on #50
@SachaG yep, will do in that case, it is a good excercise for me :)

[2018-05-01 10:07] lc3t35 opened #52 "Getting-Started tutorial: Report and problems/solutions list"
[code]
First error
[code]
Solution : uncomment registerComponent in Step3.js then
[code]
Solution : uncomment import '../components/steps/Step4.jsx'; in components.js
--> ok now I can access to tutorial

At Step1 : "By the way, when developing locally you can review all your routes using the Routes dashboard. " with link to http://localhost:3000/routes , when you try to access this route
[code]
No

[2018-05-01 11:43] Apollinaire commented on #52
About the routes and component dashboards: you must have the debug package enabled.
Add one line to your .meteor/packages file:
`vulcan:debug`
About the modal component, you must have the ui-bootstrap package, the ui components were very recently moved out of the core package, so the tutorial has not been updated yet.
Adding the following line to your .meteor/packages file should solve it:
`vulcan

[2018-05-01 15:36] eric-burel opened #53 "Weird logs and error on startup - getting-started"
Hi,

On a fresh install of, I get a long error message related to qraphQL schemas and maybe SSR. I have no idea what could cause this. Here is the full dump (it is long sorry). I am running on Meteor 1.6.1 and run the last version of Vulcan/Vulcan-Starter (01 may 2018, so 1.18.11 I guess).
I am stuck on step 9 (graphQL resolvers), so it seems related. Let me know if I can help debugging.

[code]

[2018-05-01 16:15] eric-burel opened #54 "Step 9 and step 14: resolvers and mutations does not seems to be loaded"
Hi,
During step 9 (resolvers) and step 14 (mutations), uncommenting the relevant code in the `collection.js` does not work, the resolvers and mutations does not seems to be correctly loaded by the app and thus the step does not unlock (vulcan 1.8.11, Meteor 1.6.1).

I am trying to investigate why this happens.

[2018-05-01 16:18] eric-burel commented on #53
Seems to be related to: [https://github.com/VulcanJS/Vulcan-Starter/issues/54](https://github.com/VulcanJS/Vulcan-Starter/issues/54)
[code]

returns
[code]

[2018-05-01 17:11] lc3t35 commented on #52
Thank you @Apollinaire
[code]

[2018-05-02 02:10] SachaG commented on #54
Seems to work for me? Glad you liked the tutorial btw ;)

[2018-05-02 02:13] SachaG commented on #53
I've seen that `Cannot return null for non-nullable field` error before I think, but I don't really remember what it was about exactly. Maybe you could inspect your GraphQL schema and query to see if there's any discrepancies?

[2018-05-02 02:15] SachaG commented on #52
This was because I was testing some code on `devel` to tell you when you try to use an unregistered component, but it turned out to be a bad idea because the error was triggered even for checks for that component's existence (which the getting-started package uses). Shouldn't happen anymore.

[2018-05-02 02:16] SachaG commented on #52
Btw you can switch your main Vulcan repo to `master` to get around these issues, the `devel` branch is always a little more unstable.

[2018-05-02 07:33] eric-burel commented on #53
@SachaG could you give me an example of the correct graphQL schema, maybe the one you get in the dump at some previous step of the tuto (6, 7) ? I am not much familiar with GraphQL yet but I don't remember having seen a schema for Resolvers or Mutations so it might be the issue

[2018-05-02 07:41] SachaG commented on #53
Sure:

[code]

[2018-05-02 07:43] eric-burel commented on #53
Thanks! I'll investigate this more deeply when I have access to my Ubuntu

[2018-05-02 16:59] eric-burel commented on #53
So far it seems that the schemas have no name, so the introspecting requests that get the Resolvers and Queries does not work.

This request:

[code]
will give:
[code]

so the following request for MutationResolvers will fail because name is `null` but the field is not supposed to be nullable (same goes for queries)
[code]

[2018-05-05 15:14] kankando opened #55 "Vulcan-Starter with errors on Chrome for example-instagram"
Vulcan-Starter example-instagram cannot be loaded and it seem to be caused by runtime error on Chrome as below.

![screen shot 2018-05-05 at 11 08 05](https://user-images.githubusercontent.com/4159477/39664689-85d62bfc-50b9-11e8-9249-cee209d3aa2f.png)

With

Meteor 1.6.1
Node v10.0.0
Npm 5.6.0

As the result, the page cannot be loaded properly and picture cannot be loaded as below.

![screen shot

[2018-05-05 17:40] lc3t35 commented on #52
ISS to Osaka, at step10 now, everything is green, continuing the mission ...

[2018-05-06 09:14] lc3t35 commented on #52
step13 : login form has a strange look
![capture d ecran 2018-05-06 a 11 06 42](https://user-images.githubusercontent.com/921372/39671707-1820634c-511e-11e8-88c9-4ee2334d4fde.png)

[2018-05-07 09:40] pozylon commented on #55
Same here, could not fix it yet

[2018-05-08 07:41] kankando commented on #55
Maybe the team is now looking at it, give them a few more days or I have to switch to use other framework. Sigh.

[2018-05-08 08:26] SachaG commented on #55
I fixed the issue with the missing photos. As for the error messages, it seems to be some kind of Meteor error, I'm not sure it's related to Vulcan directly. I'd suggest doing:

- `git pull` to get the latest changes
- `meteor reset` to reset the project
- delete `node_modules` and then `npm install` again to reset node packages.

Let me know if this works!

[2018-05-08 08:42] pozylon commented on #55
Hey @SachaG thanks for some hints, I just went through the bulletpoints but it didn't help. And it's not an issue specific with the instagram example, these Uncaught Typerror's come up no matter with what packages you bring up the starter project. I have Node v8.11.1 installed and completely reinstalled Meteor from meteor.com

[2018-05-08 08:48] kankando commented on #55
Thanks @SachaG but it sounds like still a blocker. Shall we raise it to https://forums.meteor.com/ for the group to look at? if it is sounds like due to the incompatible between meteor / node / npm?

Really love to use this framework but it have to be runnable, before we can code.....

[2018-05-08 08:55] kankando commented on #55
I have raised this separately to meteor forum, see how it will go.
https://forums.meteor.com/t/is-it-problem-with-meteor-or-vulcanjs-or-something-else/43568

[2018-05-08 09:09] SachaG commented on #55
Are you using the normal install or the 2-repo install?

[2018-05-08 09:14] pozylon commented on #55
@SachaG Normal Install

[2018-05-08 09:25] pozylon commented on #55
I just did some more research on this topic:

- The errors are browser-independent
- _this._launchConnection is referenced and this.launchConnection exists in the uncompiled version and cannot be unreferenced, but it seems like the compiled file is somehow corrupt

It could be one of those babel / ecmascript packages:

meteor:ecmascript
meteor:ecmascript-runtime-client
@babel/runtime

Maybe relate

[2018-05-08 09:42] lc3t35 commented on #55
no error for me OSX 10.12.6, meteor 1.6.1, node v8.9.4, npm 5.6.0, chrome 66.0.3359.139
![capture d ecran 2018-05-08 a 11 38 33](https://user-images.githubusercontent.com/921372/39750153-ca547052-52b4-11e8-8864-72a9fbaf1c18.png)

[2018-05-08 09:56] lc3t35 commented on #55
https://forums.meteor.com/t/upgraded-to-1-6-1-1-now-getting-all-kinds-of-console-errors/43462

[2018-05-08 11:59] alabrazi commented on #55
Same problem with me on MacOS High Sierra

[2018-05-08 12:51] SachaG commented on #55
I've only tested Vulcan with Meteor 1.6.1. Can you try downgrading?

[2018-05-08 12:53] alabrazi commented on #55
My current version of Meteor is 1.6.1

[2018-05-08 12:58] pozylon commented on #55
This will fix the above errors (basically a bump of npm packages, i think the one that matters is the babel runtime one):

https://gist.github.com/pozylon/2f42567ecdc47ad7cb1e64012d7c5a69

[2018-05-08 18:26] vipinlahoti commented on #55
Thanks @pozylon it solved the issue

[2018-05-08 22:52] SachaG commented on #55
Just pushed an update, let me know.

[2018-05-08 22:56] SachaG commented on #52
Great! Can I close this issue?

[2018-05-09 04:53] kankando commented on #55
Thanks @pozylon  and @SachaG , Just need to git pull Vulcan-starter for latest master and it should do the magic without downgrading node or meteor?

[2018-05-09 09:13] alabrazi commented on #55
Thanks, the last update solved the problem. Also, the Modal in step 4 is showing now.

[2018-05-09 13:12] lc3t35 commented on #52
I'd rather like exposed Step17 "clones" problem to be explained before closing ;)

[2018-05-09 16:20] kankando commented on #55
Hello everyone, with the latest pull the getting-started able to start with only one warning which is fine.

![screen shot 2018-05-10 at 12 12 37](https://user-images.githubusercontent.com/4159477/39826345-ed6c2606-53e6-11e8-9bb3-b616a6d32d70.png)

But example-instagram still didnt work for me, with the following from the console and blank page show up.

![screen shot 2018-05-10 at 12 15 42](https

[2018-05-09 17:11] lc3t35 commented on #55
when you switch between examples : meteor reset, meteor npm install, meteor --settings settings.json
don't forget to add METEOR_PACKAGE_DIRS if it's a 2 repo install.

[2018-05-09 23:27] SachaG commented on #52
I'm not sure about this bug. I was thinking I'd fix it when switching to Apollo v2.x.

https://github.com/VulcanJS/Vulcan/issues/1951

[2018-05-10 07:32] #52 closed

[2018-05-11 15:31] kankando commented on #55
Thanks a lot. it all about the node version 10.0.0 is not compatible and all good now once downgraded to Node 8.11.1. Please close.

https://forums.meteor.com/t/is-it-problem-with-meteor-or-vulcanjs-or-something-else/43568/5

[2018-05-11 15:31] #55 closed

[2018-05-14 05:11] kankando opened #59 "example-forum working fine locally but not MUP on test server"
Hello,

I'm POC on the Vulcan framework further and trying to setup the deployment with MUP and deploy the example-forum to one of the testing server in digital-ocean which i expected it should plenty straight forward but got the following error. When the app start up and try to insert some record to mongodb it failed and i guess so on when the app try to retrieve record from mongodb as no record

[2018-05-14 07:27] SachaG commented on #59
Is it possible that your app can't connect and/or write to the db? have you tried other examples? are you able to create new accounts?

[2018-05-14 13:58] kankando commented on #59
hmm... i have ran all example-movie, example-instagram and both able to be deployed with mup but not example-forum which i would like to build my project on. Also checked with mup team and it look like that mup status stated the application is deployed successfully.

https://github.com/zodern/meteor-up/issues/945

And clue? @SachaG  @Apollinaire

[2018-05-14 15:18] Apollinaire commented on #59
does example-forum work if you try it locally? Try it with a clean DB too. It has been quite unstable lately with all the updates made on the core.
Are you using the two-repo install? Or are you loading everything with Atmosphere?
If you are running the two-repo, what branch of Vulcan are you using? `master` or `devel`?

[2018-05-20 20:51] hemlokc opened #61 "Step 13: Your App is crashing after uncommenting"
[code]

I get this error after following step 13, removing the /* and */ from the MoviesUser.jsx file

[2018-05-20 22:35] #61 closed

[2018-05-20 22:36] hemlokc commented on #61
fixed

[2018-06-01 17:46] kashoncode commented on #61
How was this fixed?

[2018-06-22 08:20] adalidda opened #62 "Bug when running Forum Example with latest vulcan (Latest commit 973b2bf)"
Hi,

When I run the forum example with the latest Vulcan (Latest commit 973b2bf a day ago), I got the following error:

W20180622-15:13:17.903(7)? (STDERR) /home/kauprey/.meteor/packages/meteor-tool/.1.7.0_3.u9lhms.hf7k++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20180622-15:13:17.912(7)? (STDERR) 						thr

[2018-07-10 14:47] adalidda commented on #62
Issue fixed with Latest commit f60f0b1.

Run the following command after npm install
meteor npm install @babel/runtime@latest

[2018-07-10 14:47] #62 closed

[2018-07-14 15:20] adalidda opened #64 "example-forum 1.11.2 issue with database of VulcanJS version 1.8.10 ?"
Hi,

I am testing example-forum Latest commit 41c064d and everything is working fine.
However, when I used this example-forum with my own database (that worked fine with VulcanJS version 1.8.10), I have the problem to edit post or add new post.

When I click on edit, I got the edit screen for a few second then the system is redirect automatically to localhost:3000 (no error message on the log scre

[2018-07-14 16:40] SachaG commented on #64
Any errors in your network tab's request responses or in the server logs?

[2018-07-15 04:17] adalidda commented on #64
Sorry, the error message are TypeError: categories is undefined.

The above error occurred in the <SmartForm> component:
    in SmartForm (created by withLoader(Form))
    in withLoader(Form) (created by withDeletePost(withLoader(Form)))
    in withDeletePost(withLoader(Form)) (created by withUpdatePost(withDeletePost(withLoader(Form))))
    in withUpdatePost(withDeletePost(withLoader(Form))) (cre

[2018-07-15 08:21] adalidda commented on #64
Additional information, I just create a blank new database and feed this database from the default seed data, I got the same issue when trying to create new post or edit post. So the issue is not related to the database but with the code itself.

I checked the example-forum code (related to modules/categories) between version 1.8.10 and database using in version 1.11.2 and didn't find anything dif

[2018-07-16 08:53] adalidda commented on #64
TypeError: Cannot read property 'map' of undefined

Below are the error message when using Google chrome;

Uncaught (in promise) Error: Network error: Store reset while query was in flight.
    at new ApolloError (modules.js?hash=1f63cd5c7c83f2972188109be047cda2b9fbc226:71891)
    at modules.js?hash=1f63cd5c7c83f2972188109be047cda2b9fbc226:72960
    at meteor.js?hash=1f49b977b0beabbfeaa0ef0bdb87e0

[2018-07-16 16:24] adalidda opened #65 "GraphQL error when running example-forum 1.11.2 deployed with mup"
Hi,

My app was deployed successfully. However when running on the server, I got the following error:
Error: GraphQL error: Unknown type "MultiPostInput". Did you mean "PostsInput"?
Error: GraphQL error: Unknown type "MultiCategoryInput". Did you mean "CategoriesInput"?

I don't know why this happen as my app works fine on localhost.

In my mup.js I used abernix/meteord:node-8.11.2-base

You can s

[2018-07-17 07:13] adalidda commented on #65
I am using
git clone https://github.com/VulcanJS/Vulcan-Starter.git
git clone https://github.com/VulcanJS/Vulcan.git

Thank You
Adalidda

[2018-07-17 07:16] SachaG commented on #65
In that case you need to switch to the `master` branch for https://github.com/VulcanJS/Vulcan

[2018-07-19 08:47] adalidda commented on #65
Dear @SachaG

I would like to confirm that after
git clone -b master https://github.com/VulcanJS/Vulcan

I deploy example-forum successfully and its work fine.

Thank You so much
Adalidda

[2018-07-19 08:57] adalidda opened #67 "Default package installed by default with npm install"
Hi,

I may be wrong but I think that the default packages install with npm install are not the same in Vulcan-starter and in Vulcan. Could you check that ? Seem the default package install with vulcan-starter is much completed !

Could you include meteor npm install @babel/runtime@latest into the default package to be installed with npm install ? That avoid new comer to meet issue that they don't

[2018-07-19 08:59] SachaG commented on #67
That's possible, but there is never a reason why you'd need to run `npm install` inside the main Vulcan repo. Still I agree it'd be better to keep the packages in sync, I'd accept a PR to fix that.

[2018-07-22 02:17] #10 closed

[2018-08-01 01:58] tdameh commented on #16
I found the issue coming from the code in server/posts/callbacks/other.js

`function PostsEditRunPostApprovedSyncCallbacks (modifier, post) {
  if (modifier.$set && Posts.isApproved(modifier.$set) && !Posts.isApproved(post)) {
    modifier = runCallbacks('posts.approve.sync', modifier, post);
  }
  return modifier;
}
addCallback('posts.edit.sync', PostsEditRunPostApprovedSyncCallbacks);`

Not sure

[2018-08-03 22:22] calinn opened #69 "example-forum 1.11.2 has incorrect version"
Hi
I think that example-forum version should be 1.11.2 instead 1.11.0 in Package.describe() in package.js
https://github.com/VulcanJS/Vulcan-Starter/blob/master/packages/example-forum/package.js

[2018-08-09 08:41] adalidda opened #71 "Bug with example-forum 1.11.2 Latest commit 8f2822b - Expected a field “categoriesIds.3” of type String, got “null” instead"
Hi,

I am testing the latest version of example-forum and found strange bug when add or edit post.
Some time the edit when well but when I click on edit to update the post that I just created, I got the following error:

Expected a field “categoriesIds.3” of type String, got “null” instead.
    Expected a field “categoriesIds.4” of type String, got “null” instead.
    Expected a field “categoriesI

[2018-08-12 15:31] jesperordrup opened #74 "Step 18 - sorting doesnt work"
When uncommenting the following code the movielist should sort alfabetically. It doesnt. The sorting remains unchanged (createdAt).

[code]

No errors in console on server or client.
Code is run (added a console.log statement)

[2018-08-12 15:48] jesperordrup opened #75 "Example-Forum error on subscribe"
On startpage when trying to subscribe I get the following error:

I20180812-17:45:53.905(2)? // Adding xxxx@yyyyy.dk to mailchimp list…
W20180812-17:45:53.905(2)? (STDERR) TypeError: Cannot read property 'subscribe' of undefined
W20180812-17:45:53.906(2)? (STDERR)     at Promise.asyncApply (packages/vulcan:newsletter/lib/server/newsletters.js:47:40)
W20180812-17:45:53.906(2)? (STDERR)     at /User

[2018-08-12 15:55] jesperordrup opened #76 "Ecample-Forum - new post error if selecting any categories"
Error:
`Expected a field “categoriesIds.0” of type String, got “null” instead.`

Steps to reproduce:

- Created a new regular user.
- Clicked new post
- Filling in fields AND clicking any category results in error.
- Filling in fields AND NOT clicking any category results in saved post.

[2018-08-15 16:58] calinn commented on #71
I got the same bug.
If I don't chose the first category order in the Category collection, it show me a error message.
![editmenu2](https://user-images.githubusercontent.com/6833194/44160890-6295a600-a081-11e8-87d4-500b09efc79e.png)

[2018-08-31 13:44] m-kreis opened #78 "Step 15"
"Find createMovie.jsx and add the following:"

The file is named MoviesNew.jsx

[2018-08-31 22:34] SachaG commented on #78
Thanks!

[2018-08-31 22:34] #78 closed

[2018-09-03 22:06] calinn opened #80 "Example-forum 1.12.3: GraphQL error: Cannot read property 'postedAt' of undefined"
When I'm going to insert a new post or edit a post, after I clicked submit button, it shows:

[code]

[2018-09-04 00:42] SachaG commented on #80
Are you using the latest versions of both Vulcan core packages and the Starter repo?

[2018-09-11 01:44] adalidda commented on #71
Great. Thank You calinn for this information.

[2018-09-13 01:18] #80 closed

[2018-09-14 05:05] adalidda opened #86 "Example-Forum GraphQL error: Unknown type "MultiPostInput" on deployed app"
Hi,

My Example-Forum app run well in local mode (using the latest build of VulcanJS and Vulcan-Starter). I deployed it to my server with Mup version 1.4.5. The deploy went well and I have my app running on my test server at https://nova.adalidda.com/

However, I got the following GraphQL error:
Error: GraphQL error: Unknown type "MultiPostInput". Did you mean "PostsInput"?
GraphQL error: Cannot q

[2018-09-14 07:48] SachaG commented on #86
Is it possible that somehow your server is not properly updated? I would try to redeploy.

[2018-09-14 10:31] Apollinaire commented on #86
It looks like your schema is still using the pre-1.12 way to do graphql :
![graphql-erd 1](https://user-images.githubusercontent.com/5938985/45542720-fb4f4b00-b812-11e8-962d-e053d6e04030.png)
See the `PostsList` query instead of the `posts` query.

[2018-09-14 11:04] adalidda commented on #86
Thank You @Apollinaire . I just realize that I miss @SachaG latest blog https://medium.com/@sachagreif/vulcan-js-1-12-a-better-graphql-api-for-crud-operations-fae82e03a7e9

Adalidda

[2018-09-14 20:16] dakratz opened #87 "Getting Started Step 16"
I was running through the getting started tutorial.

Uncommenting the MoviesApp2 import as per the instructions breaks the application.  The surfaced exception is:

2018-09-14T19:19:11.377Z 'error while server-rendering' 'ReferenceError: withMulti is not defined\n    at Datatable.render (packages/vulcan:core/lib/modules/components/Datatable.jsx:75:33)\n    at walkTree (/home/dkratz/dev/Vulcan-Star

[2018-09-14 20:40] dakratz commented on #87
I was able to get past the issue by switching to the two repository install method.

[2018-09-14 21:05] dakratz opened #88 "Starter Step 17"
The new and edit buttons for films do not work.

New will give the following error after submitting the form:
Network error: NetworkError when attempting to fetch resource.

Edit will return what looks to be a mongodb id, and then eventually a blank form.

[2018-09-16 03:06] SachaG commented on #88
It seems to work for me. Can you open your browser devtool's network tab and see what the GraphQL request returns?

[2018-09-20 12:04] mrumaiz opened #91 "Data Not sorted in example-movies"
Movies list in example-movies package is not sorted. According to documentation [Vulcan](http://docs.vulcanjs.org/example-movies.html#
![vulcan-starter]  is sorting is done in this package
(https://user-images.githubusercontent.com/14245012/45817750-58f50300-bcfd-11e8-898f-4099f49cbc10.PNG)
Sorting)

[2018-09-20 13:58] Apollinaire commented on #91
Hi @mrumaiz, in the movies-example package the movies are **sorted by year**, as your screenshot shows. The code is here : https://github.com/VulcanJS/Vulcan-Starter/blob/master/packages/example-movies/lib/modules/movies/parameters.js
By default Vulcan sorts data by date of creation (`createdAt` field). To see the difference, go to `example-movies/lib/modules/movies/parameters.js and comment the l

[2018-09-20 15:40] mrumaiz commented on #91
Thank You @Apollinaire .

[2018-09-20 15:40] #91 closed

[2018-09-21 11:27] georgezee opened #92 "Example-forum newsletter uses inconsistent cookie methods"
In commit 6e78509, the cookie handling was refactored to use 'universal-cookie'.
See:
![cookies-commit](https://user-images.githubusercontent.com/491346/45878481-7a0f2f80-bda1-11e8-9142-f033355a5694.png)

However the function to update the cookie wasn't changed, which seems a simple oversight. It still uses:
`Cookie.save('showBanner', 'no');`
rather than:
`cookies.set('showBanner', 'no');`

Note,

[2018-09-25 12:46] adalidda opened #94 "Example-Forum latest build, VulcanJS 1.12.8, new way of handling localization ?"
Hi,
In the previous version of Example-Forum/Vulcan (based on meteor 1.6), I have 2 files for the text used in my app:
i18n-en.js = english
i18n-fr.js = french

then I import these files in my index.js as below:
import './i18n-en.js';
import './i18n-fr.js';

then in my settings.json
for English, I use
    "locale": "en",
for French, I use
    "locale": "fr",

Using above seems not working anymore

[2018-09-25 16:43] Apollinaire commented on #94
Hi @adalidda ,
The I18n in Vulcan was updated at v1.11. You can see the docs here : http://docs.vulcanjs.org/internationalization.html

[code]

[2018-09-25 23:35] adalidda commented on #94
Thank You @Apollinaire I will look to the doc in detail.

[2018-09-26 01:41] adalidda commented on #94
After I set the cookies as following:
cookies.set('locale', 'fr');

Everything is working fine and my App is now displaying the text in French.

Thank You @Apollinaire

[2018-09-26 07:49] Apollinaire commented on #94
@adalidda could you describe more in detail what you did ?

[2018-10-09 00:34] jimrandomh opened #97 "example-forum emails still using pre-1.12 API"
The Vulcan 1.12 migration guide (https://medium.com/@sachagreif/vulcan-js-1-12-a-better-graphql-api-for-crud-operations-fae82e03a7e9) describes some things that need to be done to make email sending work in 1.12. However, it looks like `Vulcan-Starter/packages/example-forum/lib/modules/notifications/emails.js`  hasn't had the migration applied. I was hoping to look at that file to see an example o

[2018-10-09 15:48] adalidda opened #98 "Example-forum Login with Facebook failed"
Hi,

When I login with Facebook (using package account-facebook), I got the following error:
URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings. Make sure Client and Web OAuth Login are on and add all your app domains as Valid OAuth Redirect URIs.

My settings on https://developers.facebook.com/apps are:

Valid OAuth Redirect URIs https

[2018-10-12 07:18] SachaG commented on #97
You're right, I don't have much time to work on that right now so hopefully someone can submit a PR. Here's an example from http://zenshome.jp using the new API:

https://gist.github.com/SachaG/1f1c50408aaa2ca4c43d3b27b34e2007

[2018-10-20 00:11] Discordius commented on #31
We fixed a bunch of bugs related to this in our codebase. You can take a
look at our Vulcan fork to figure out the differences in implementation:
https://github.com/LessWrong2/Vulcan

On Fri, Oct 19, 2018 at 11:33 AM James Wrubel <notifications@github.com>
wrote:

[2018-10-22 07:12] jdowning100 commented on #31
Likely related to this: https://vulcanjs.slack.com/archives/C02L990AF/p1538612081000100

`await Connectors.delete(Votes, {documentId: document._id, userId: user._id});`
But that breaks now, because that gets translated to
`{ userId: <userId>, _id: <documentId> }`
Which is importantly different, and basically breaks all the clearVote functionality

[2018-10-23 14:42] PaulDreef commented on #75
Me too...

[2018-10-26 21:32] jwrubel commented on #31
@Discordius I was able to extract what I needed from your repo and I got voting working correctly - thank you! It was quite a lot of changes and they're in the voting package, not Vulcan-Starter. Still I have what I changed in a single commit so I'm happy to add it as a PR, even if it's just for someone to take a look at and re-implement properly.

[2018-10-26 21:54] jdowning100 commented on #31
@jwrubel Could you send a link to your commit (if it’s public)?

[2018-10-27 15:32] jwrubel commented on #31
Good idea - there's no reason not to make it public so I just opened it. I had originally started trying to keep individual commits but that got too hard, so these four commits should be enough to correct voting functionality: [1](https://github.com/kennenai/Vulcan/commit/1535c3d9d1fab16e399e1f94563a2bac48a82769)  [2](https://github.com/kennenai/Vulcan/commit/ff6ecf5a134cf2cbab8588e6ec299ed229dc8d

[2018-11-14 04:29] exilef opened #100 "Upvoting in"
Hi,

it seems like the upvoting feature of the `example-forum` demo is broken. Specifically, two things do not work as expected:

1. A single user can upvote one post several times. How can this be prevented?
2. When clicking the up vote button, the counter first jumps back by one, then increases by one (i.e. from 2 to 1 and then quickly to the correct value 3).

I am using a fresh install of the

[2018-11-14 04:34] exilef opened #101 "Twitter OAuth login broken"
Hi,

it seems like the Twitter OAuth feature of the example-forum demo is not working. When clicking on "Sign up / Log In" of the `example-forum` demo and then on the Twitter button, a popup appears shortly but immediately closes again and the message "Internal server error" is shown below the button. Screenshot below:

<img width="322" alt="screen shot 2018-11-13 at 8 30 45 pm" src="https://user-

[2018-11-14 04:47] exilef opened #102 "List of my reactions in example-reactions demo not updating"
Hi,

it seems like some data updating logic of the `example-reactions` demo is not working correctly when the page is not fully reloaded.

Specifically the problem is the following: When adding a number of reactions on the main page with the movie list and then switching to the "My Reactions" view, they do not appear, see screenshots.

First, add some reactions:
<img width="815" alt="screen shot 2

[2018-11-21 14:41] lc3t35 commented on #97
+1, please update documentation give some examples.

[2018-12-08 17:06] jmpolitzer opened #103 "Starter Step 15"
When uncommenting the SmartForm component in Step 15, I receive the following error:

[code]

[2018-12-11 00:56] yukio4192 commented on #103
I have same issue. :(

[2018-12-12 05:13] daveit commented on #103
+1  tested on both Windows and Mac (I tried on my Mac in case it was an issue with Windows, but now find it mentioned here!)

[2018-12-12 06:32] SachaG commented on #103
Can someone upload their code at that stage of the tutorial and post the link here?

[2018-12-12 06:47] daveit commented on #103
Thanks, can you elaborate more Sacha - do you mean the whole project, or just the MoviesNew.jsx ?

[2018-12-12 08:32] SachaG commented on #103
`MoviesNew.jsx` for starters, or the whole project if the bug is not obvious.

[2018-12-12 14:06] jeremycare commented on #103
Hi,

I just followed the tutorial, but when uncommenting the children in MoviesNew.jsx i got the same error.
https://github.com/jeremycare/Vulcan-Starter

[2018-12-12 14:10] yukio4192 commented on #103
I found solution on slack channel. Just update meteor, and I got it.

meteor update

2018年12月12日(水) 23:06、jeremycare さん（notifications@github.com）のメッセージ:

[2018-12-12 14:14] jeremycare commented on #103
Thanks !

[2018-12-12 14:21] daveit commented on #103
After I installed Vulcan, I got a message to update meteor to 1.8.0.1, so i did, and that was before I started working through the steps. So that does not appear to be a solution for me!

[2018-12-15 09:00] SachaG commented on #103
Sorry about that, if someone posts some code we'll be able to see if it's a problem in that specific file or something else.

[2018-12-31 18:05] drpears opened #105 "Dropdown's are not reactive in Example Forum"
I'm using the Example Forum package and am seeing the warning below in the console along with the Dropdown component being non responsive.
![image](https://user-images.githubusercontent.com/16214147/50565375-e16b4280-0cf3-11e9-9fa0-cd6cd602c5be.png)

There's no warnings or errors thrown in the console related to this issue. I would debug further but it seems that it's a core vulcan ui component an

[2018-12-31 18:08] drpears commented on #105
Here's a screen record of the non responsive behavior [Uploaded Video](https://www.youtube.com/watch?v=mkz_FU6bB6o&feature=youtu.be)

[2019-01-01 00:17] SachaG commented on #105
Looks like an error due to the recent react-bootstrap/Bootstrap 4 update. I'll look into it, thanks!

[2019-01-02 01:34] drpears commented on #105
@SachaG  great thank you

[2019-01-02 05:44] SachaG commented on #105
Should be fixed; I just need to push a new version (1.12.13) of the core Vulcan packages and it should be fine :)

[2019-01-04 03:01] drpears commented on #105
@SachaG Updated the core packages to 1.12.13 and I'm still seeing an issue with the bootstrap related components. Could you point me to which of the core packages I could take a look at and debug?

[2019-01-05 19:41] drpears commented on #105
@SachaG Did the changes you made when you pushed to 1.12.13 fix it on your side?

[2019-01-05 23:38] SachaG commented on #105
Yes but you also have to pull the latest changes from this repo.

[2019-01-09 15:43] macrozone opened #108 "modals are broken"
modals no longer work. probably related to update to bootstrap 4

[2019-01-11 01:12] jwrubel commented on #65
I just came across this, after having set up a local project using the two-repo install (but left the `Vulcan` core repo on `devel`. I've made some fairly significant changes to the core repo, and now that I've deployed the app I am seeing a similar error when editing a post: `Cannot query field "categories" on type "Query". Did you mean "CategoriesList", "CategoriesTotal", or "CategoriesSingle"?"

[2019-01-11 01:34] SachaG commented on #65
Those are all the old, deprecated names of Vulcan's generated query types, while `categories` is the new name. So it sounds like somehow your front-end is using a recent Vulcan version while your back-end is using an older one.

The most probable reason is that your deployed instance of the app is not using the latest version of Vulcan packages. I'd try specifying versions (`1.12.13`) explicitly o

[2019-01-11 01:50] jwrubel commented on #65
Hmm - My deploy command (I am using the 2-repo install) is referencing `METEOR_PACKAGE_DIRS` to point to my local repo, like this: `METEOR_PACKAGE_DIRS="../../Vulcan/packages" NODE_ENV=production mup deploy --settings "../beta.settings.json"`. I did set this environment up a few months ago and have been developing locally. I only recently attempted to deploy the app for the first time. Since I'm s

[2019-01-11 01:53] jwrubel commented on #65
I just found your comment over on meteor-up (https://github.com/zodern/meteor-up/issues/442#issuecomment-323878027) - I wonder if this is what's going on.

[2019-01-11 02:58] SachaG commented on #65
Yeah I would recommend setting up the package dirs through the `PATH` rather than with the `METEOR_PACKAGE_DIRS` option. I can confirm that this method works.

[2019-01-11 13:35] jwrubel commented on #65
I can confirm adding `export METEOR_PACKAGE_DIRS="../../Vulcan/packages"` to my `.bash_profile` and redeploying did work. I got thrown off initially because the docs [here](https://github.com/VulcanJS/vulcan-docs/commit/1f4801414cdf9d4fc878bea548a8a272ca8d40df#diff-4207e9f699844b17f5efcd0276280183) suggest passing the local environment variable works. I'll make a PR to update that section of the d

[2019-01-11 13:55] SachaG commented on #65
Glad that it works now! And yeah a PR would be great :)

[2019-01-11 13:55] #65 closed

[2019-01-24 01:22] cmacom opened #111 "Modals not showing in example-forum"
Just got the example-forum running, but when clicking on the New Post button nothing happened.  I saw the [fix](https://github.com/VulcanJS/Vulcan-Starter/commit/437358dba69366e83f39df3f5687e8f3c0d2afd8) to the Getting-Starter app where you updated the _bootstrap.scss so copied that into the example-forum and linked it up.  It did get the dropdowns working but the modal still didn't show (although

[2019-01-30 07:53] jasonmarkperez commented on #111
Same with the instagram example, modal doesn't display.

[2019-02-03 14:10] yairtal commented on #111
Try cloning the repo again and then:
`meteor update`
`yarn install`
`yarn start`

[2019-02-03 14:11] yairtal commented on #105
Try cloning the repo again and then:
`meteor update`
`yarn install`
`yarn start`

[2019-02-03 14:17] yairtal opened #112 "Can't register: Internal server error"
Open example-forum, try to register as a new first user.
Internal server error.
Exception while invoking method 'createUser' TypeError: Cannot read property 'username' of undefined
at Object.onCreate (packages/vulcan:users/lib/modules/schema.js:59:18)

[2019-02-04 05:50] SachaG commented on #112
Sorry about that, should be fixed in version 1.12.15.

[2019-02-04 06:16] yairtal commented on #112
Not fixed, after a clean install, I am still getting the same error.
Steps to reproduce: clone, meteor update, yarn install, change to example-forum package, yarn start.

[2019-02-04 06:44] cmacom commented on #111
Thank you latest fix worked.

[2019-02-04 06:44] #111 closed

[2019-02-04 12:17] SachaG commented on #112
Hmm, weird. How about if you update `vulcan:users` to `1.12.16`?

[2019-02-04 12:38] yairtal commented on #112
1.12.16 fixed the problem, thanks

[2019-02-04 12:38] #112 closed

[2019-02-06 14:57] oskareke opened #114 "Error: Cannot find module 'react-bootstrap/Form'"
Getting this error after running npm start:
`Error: Cannot find module 'react-bootstrap/Form'`

[2019-02-06 15:10] eric-burel commented on #114
Hi, please update your packages, it should be fixed in react-bootstrap beta 5

[2019-02-08 22:28] Utkarshnamdeo commented on #114
Hi please fix the issue. It exits with code 1.

[2019-02-09 09:28] ShaLi2204 opened #115 "Components not working"
Hi, there. All the pre-defined components are not working (no error message), such as SmartForm and AccountsLoginForm. (Version: 1.12.16)
Do you have the same problem? Or could you please help me fix it? Thanks in advance!

[2019-02-09 11:42] SachaG commented on #115
What example are you trying?

[2019-02-09 11:45] SachaG commented on #115
Also make sure your packages depend on `vulcan:ui-bootstrap@1.12.16`.

[2019-02-09 13:30] ShaLi2204 commented on #115
Hi, I am trying with both the example-instagram and example-forum. Please
have a look at the screenshot, I suppose the package does depend on
vulcan:ui-bootstrap@1.12.16.

Sacha Greif <notifications@github.com> 于2019年2月9日周六 下午12:45写道：

[2019-02-09 13:48] SachaG commented on #115
Sorry I'm not sure, everything seems to work for me. I would need to know more about what exactly is not working, and what's happening. Also I didn't see any screenshot?

[2019-02-09 13:56] eric-burel commented on #114
@Utkarshnamdeo can you confirm your react-bootstrap version ? You can run `npm list react-bootstrap`. It should be `1.0.0-beta.5`.
This bug is not in Vulcan, it is a regression in react-bootstrap beta 3 which is already solved in beta 5.

[2019-02-09 14:01] ShaLi2204 commented on #115
Sorry it seems I did not manage to attach my screenshot here.

`
Package.describe({
  name: "example-forum",
  summary: "Vulcan forum package",
  version: '1.12.16',
  git: "https://github.com/VulcanJS/Vulcan.git"
});

Package.onUse(function (api) {

  api.versionsFrom('METEOR@1.5.2');

  api.use([

    'promise',
    'fourseven:scss@4.5.0',

    // vulcan core
    'vulcan:core@1.12.16',

    // v

[2019-02-09 14:06] eric-burel commented on #115
Hi, could this be related to the branch used after the update to apollo2? It sounds weird

[2019-02-09 14:08] eric-burel commented on #115
Can you please provide us the error messages from the console, client side and server side?

[2019-02-09 14:13] ShaLi2204 commented on #115
Hi, I have got this error message from the console.
TypeError: undefined is not an object (evaluating 'Package['vulcan:lib'].Vulcan')

[2019-02-09 15:14] oskareke commented on #114
I was getting this error after a fresh clone and install with 1.0.0-beta.5, but running npm update somehow fixed it.

[2019-02-09 15:14] #114 closed

[2019-02-09 18:14] Utkarshnamdeo commented on #114
@eric-burel Thanks Eric, That solved the problem. Indeed it wasn't a Vulcan issue.

[2019-02-10 01:02] SachaG commented on #115
I'd suggest deleting `node_modules` and then running `npm install` and `npm start` again if you haven't done so already.

[2019-02-10 09:30] ShaLi2204 commented on #115
@SachaG Yes I have done it like a thousand times, besides, I also have tried to remove the whole vulcan-starter files and clone it again. Tried it even on two computers, really do not know where do I do wrong. :(

[2019-02-10 09:47] eric-burel commented on #115
Can you please describe us more precisely your install process? Id like to help but I have no clue which repo, branch you are using, if you use atmosphere package etc. That would help debugging a lot

[2019-02-10 10:00] ShaLi2204 commented on #115
@eric-burel Of course.
Like two weeks ago, I cloned the vulcan-starter repo followed the tutorials in the vulcanjs.org (Node and Meteor installed). The version vulcan:core was 1.12.12. I ran the getting-started tutorial, everything was fine. The sign up/login component in the step 13 worked perfectly and I could register and move on the the next stages.
Then like last week, I notice there is a new

[2019-02-10 10:59] eric-burel commented on #115
I'd advise you to try a 2 repo install, you'll need to clone Vulcan and switch to branch devel-apollo1 (its important because we are currently upgrading Vulcan to apollo 2). Ser the doc for more details.
Personally I never use the atmosphere version of Vulcan, the 2 repo install gives more control and allow you to enjoy the latest fix easily

[2019-02-10 11:22] SachaG commented on #115
Also another thing you can try is just putting your repo online on GitHub so we can check out the code directly.

[2019-02-10 13:28] ShaLi2204 commented on #115
@eric-burel I have just tried 2 repo install, still it does not work :(
Here the error message from console
[code]

[2019-02-10 13:49] eric-burel commented on #115
The first error with the stream package missing is the actual issue, can you try to install it?

[2019-02-10 14:47] ShaLi2204 commented on #115
I have installed stream, then it says apollo-link-state is missing. I then installed apollo-link-state, then the graphql-voyager/middleware/express is missing. I wonder if I have installed the packages wrongly? I used npm install in the project repository.

[2019-02-10 14:57] eric-burel commented on #115
You do not seem to be on the correct branch, those package are only needed in the apollo2 version, are you on branch devel-apollo1in Vulcan?

[2019-02-10 14:58] eric-burel commented on #115
(we merged this update just 2 days ago things will be sorted out very soon)

[2019-02-10 15:02] ShaLi2204 commented on #115
I think I am on the branch devel (which is the direct link from the 2 repo tutorial). Which branch is the right one?

[2019-02-10 16:22] eric-burel commented on #115
It should be devel-apollo1 for Vulcan

[2019-02-10 16:52] ShaLi2204 commented on #115
Have just tried with devel-apollo1. Here is something strange:
[code]
Is it normal that apollo is removed from the project?
Thank you guys so much for helping me on a Sunday. I hope you still have a nice weekend.

[2019-02-10 17:31] ShaLi2204 commented on #115
A small update: this time, no "apollo removed from your project". But in the console I receive the same error message - cannot find module stream. Here is the code how i cloned the devel-apollo1
`
git clone -b devel-apollo1 https://github.com/VulcanJS/Vulcan.git
`

[2019-02-10 17:53] eric-burel commented on #115
Can you please send your METEOR PACKAGE DIRS env variable? Otherwise Ill try to repoduce your issue tomorrow

[2019-02-10 18:02] ShaLi2204 commented on #115
Are you meaning the package.json in the project? If yes, please see below:
[code]
If not, could you please kindly give me a hint where can I find it?

[2019-02-10 19:11] eric-burel commented on #115
You may actually need the stream package though, only apollo-link stuff are related to apollo2 only
You meteor package dirs seems correct sorry I missed one of your earlier comment. The fact that the apollo package have been removed is norma (it is only used in v2)

[2019-02-10 21:49] ShaLi2204 commented on #115
I have installed stream with npm install stream, after that I get another error message in the console, which is, cannot find module emitter... Is is a module required in Vulcan?

[2019-02-10 21:52] ShaLi2204 commented on #115
Update: emitter installed. Now -
`Object is not a constructor (evaluating 'new Emitter()')`

[2019-02-10 23:51] SachaG commented on #115
I also ran into the `stream` error, I had to delete `node_modules` and reinstall node packages to get rid of it. And I also updated to the latest Meteor version. There was some discussion about it on the Slack channel, somebody suggested using yarn rather than npm:

https://vulcanjs.slack.com/archives/C02L990AF/p1549281540331400

Sorry about all that and thanks for your patience! I think the strea

[2019-02-11 06:24] eric-burel commented on #115
Yes I can reproduce by installing and running the starter. `rm -Rf node_modules && yarn` fixes it. Very weird.

[2019-02-11 09:47] ShaLi2204 commented on #115
@SachaG @eric-burel Thank you so much for your help. I just tried `rm -Rf node_modules` then `yarn install` `yarn start`. Still it does not work. :(
I am planning to do everything from the very beginning. Could you please let me know, which branch is right for Vulcan-Starter? I see a master and a getting-started-complete. (I am using master, but it seems it has changed after the last time i cloned

[2019-02-11 11:43] SachaG commented on #115
If you're doing the "normal" install then `master` is the right branch for the starter repo. If you're doing the 2-repo install with the `devel` branch on the core repo then `apollo2` is the right branch for the starter repo.

[2019-02-11 12:58] ShaLi2204 commented on #115
@SachaG @eric-burel I have cloned the latest version of vulcan-starter, used yarn for installation and start, it works!!! Finally!!!
Thank you guys so much for your helps and patience!! You are the best!!^^

[2019-02-11 12:58] #115 closed

[2019-02-11 13:21] SachaG commented on #115
I'm glad it works! But I feel bad it took so many different tries to get it working… I really don't know what went wrong, I think it was a combination of update issues on our part, weird Meteor/NPM behaviors, and just plain bad luck… hopefully from now on things will be easier :)

[2019-02-11 16:32] ShaLi2204 commented on #115
Haha it's okay. The most important thing is that it finally works (Honestly I don't know either what was wrong XD). Thank you for your patience again, you have helped me so much! :)

[2019-02-11 16:58] fedriz commented on #105
I'm using the getting-started-completed branch, it's kinda working, try it

[2019-02-17 02:27] enzolutions commented on #37
I follow the tutorial and first I got two packages missing that I solve with

[code]

but then I got the following error

[code]

[2019-02-17 02:41] enzolutions commented on #37
In tried to create a user account via mongo shell

[code]

Then I update that user to set as admin
[code]

But the next part of the tutorial is still lock. and I cannot login using the form.

[2019-02-17 02:51] enzolutions commented on #37
If you want to try to continue with the tutorial, maybe you could try editing **lib/modules/checks.js** to check the evaluation function to "pass" the check, this step check if you are logged.

[code]

[2019-02-17 04:33] enzolutions commented on #115
Hey guys.

I confirm that this procedure works.

1. Vulcan (master)
2. Vulcan Start (master branch)
3. Set METEOR_PACKAGE_DIRS to Vulcan (master) directory
4. rm -Rf node_modules && yarn

The only weird thing is the Meteor log request to install this package ( in Mac OSX at least)

[code]

After installing with **meteor npm install --save bcrypt** everything goes to hell again and I have to repeat

[2019-02-17 04:34] enzolutions commented on #37
Solved with https://github.com/VulcanJS/Vulcan-Starter/issues/115#issuecomment-464416164

[2019-02-17 11:03] JimmyRowland opened #116 "Can not upload image forms-upload"
I am trying to upload photos to cloudinary in apps

I tried type String and Array, but none of them works

[code]
error message for type Array:
Error: "imageUrl" is Array type but the schema does not include a "imageUrl.$" definition for the array items"
Error for type String:
Expected type String at value.imageUrl; String cannot represent a non string value: ["https://res.cloudinary.com/ufghkdsdg

[2019-02-17 13:13] SachaG commented on #116
See https://github.com/VulcanJS/Vulcan/issues/2208

[2019-02-18 07:34] enzolutions commented on #116
I got a related issue, in reference that the preset is not found. check the following images about the error.

![no-preset-console-error](https://user-images.githubusercontent.com/907914/52934803-a3ada080-33ab-11e9-97eb-a236e864c7ec.png)
![no-preset](https://user-images.githubusercontent.com/907914/52934804-a3ada080-33ab-11e9-9ef4-b0417c557892.png)

Here my schema after the suggested modification.

[2019-02-18 07:42] JimmyRowland commented on #116
https://support.cloudinary.com/hc/en-us/articles/360004967272-Upload-Preset-Configuration
Make sure you signed up for cloudinary and replace  options: {

      preset: 'mypreset'
    },

with your preset name

On Sun, Feb 17, 2019 at 11:34 PM enzo - Eduardo Garcia <
notifications@github.com> wrote:

--

Best
Yu Tian
e:tian_yu@student.smc.edu

[2019-02-18 08:44] enzolutions commented on #116
Hey @JimmyRowland

Thanks for your response. I created an account on cloudinary and create a preset. But looks like at some point I should provide my credentials.

Do you know where I should do that in the example-Instagram.

Thanks in advance.

[2019-02-18 08:58] JimmyRowland commented on #116
You can just follow the video in the link above to create the preset and
set the preset as follow. In this case, the preset name is
[image: image.png].Then you can replace the presetname in the schema with
your own preset name.

The upload to Cloudinary relies on *unsigned upload*:

Unsigned upload is an option for performing upload directly from a browser
or mobile application with no authenticat

[2019-02-18 09:20] enzolutions commented on #116
hey @JimmyRowland

This link was really useful http://docs.vulcanjs.org/forms-upload.html.

After following the video you posted before and that link, I applied the changes in schema to reflect my preset and all works like a charm

[code]

Thank you so much. Do you have any idea about how to do signed upload or maybe an integration with amazonn s3?

[2019-02-18 09:38] JimmyRowland commented on #116
I am new to VulcanJS. You can request this feature from VulcanJS
contributors.

On Mon, Feb 18, 2019, 1:20 AM enzo - Eduardo Garcia <
notifications@github.com> wrote:

[2019-02-18 15:12] Apollinaire commented on #116
@enzolutions https://github.com/OrigenStudio/vulcan-files-simple-example/tree/develop
make sure to be on the develop branch
it uses the following packages:
https://github.com/OrigenStudio/vulcan-files/tree/develop
https://github.com/OrigenStudio/vulcan-files-s3

[2019-02-18 18:57] enzolutions commented on #116
Thank @Apollinaire,

I was checking the link, and I have doubts about how the scheme needs to looks like, could you share here a full schema with this change applied.

[code]

Thanks in advance.

[2019-02-19 11:21] bseng opened #118 "Bug in Example-Form - Expected type Date for field “Date”, received “2019-02-21T13:00:00.000Z” instead"
Hi,

I'm adopting example-form nested techniques in my own code and add a new date field in the address schema.

The proper input display but after I picked a date and try to save it give me an error saying.

Expected type Date for field “Date”, received “2019-02-21T13:00:00.000Z” instead

How should I get the date to work?
Thanks

[2019-02-19 11:44] SachaG commented on #118
With a normal form at least date fields do seem to be stored as dates (when inspecting the state of the `SmartForm` component). So maybe this is an issue specific to nested forms? Could you see if you get the same issue when the date field is not nested but instead at the root of the document?

[2019-02-19 11:55] bseng commented on #118
I've use the date field in the normal schema (vulcan one) on root level and it works.

[2019-02-19 12:04] SachaG commented on #118
I'm not sure… but can you open a new issue on the main repo about this? https://github.com/VulcanJS/Vulcan/issues

[2019-02-19 12:07] bseng commented on #118
sure

[2019-02-19 12:12] bseng commented on #118
Created a new issue in [main repo](https://github.com/VulcanJS/Vulcan/issues/2211)

[2019-03-06 11:34] ShaLi2204 opened #119 "Bug in example-forum, example-forms and example-movies: delete function does not work"
Hi there,

in the example-forum, when trying to delete a post from my own, the following error message shows up: cannot convert undefined or null to object. Could you please check it? Thanks a lot in advance!

[2019-03-08 01:33] MauriMatamoros opened #120 "Modal not working on step 4."
Nothing displays or changes plus there is an error log in the console.
![screen shot 2019-03-07 at 7 33 19 pm](https://user-images.githubusercontent.com/13406350/54001162-e5f71180-410f-11e9-8be5-4c3deb9ef4e8.png)

[2019-03-09 00:26] SachaG commented on #120
This is an error that people sometimes experience but we haven't been able to find the root cause yet. It can usually be fixed by deleting `node_modules`, and then reinstalling your packages again with `yarn` instead of `npm install`.

[2019-03-09 02:08] #120 closed

[2019-03-10 11:06] ShaLi2204 commented on #119
Update: I have checked it around. It seems that delete function does not work in all of the three examples mentioned above. However, I think a few weeks before, the delete function did work. Is it due to some update in the vulcanjs version? Could you please kindly fix it? Thank you so much in advance.

[2019-03-30 08:46] adalidda opened #123 "Bug in example-forum version 1.12.12"
Hi,

I tested with the default project package:
example-forum        added, version 1.12.12
reactive-dict        added, version 1.2.1
session              added, version 1.2.0
vulcan:accounts      added, version 1.13.0
vulcan:admin         added, version 1.13.0
vulcan:embed         added, version 1.13.0
vulcan:events        added, version 1.13.0
vulcan:forms         added, version 1.13.0
vulcan:ne

[2019-04-03 06:16] jdowning100 commented on #123
Please see my PR https://github.com/VulcanJS/Vulcan-Starter/pull/124

[2019-04-06 16:13] ShaLi2204 commented on #119
Hi,

any update on this issue?

[2019-06-05 01:06] adalidda commented on #123
Thank You @jdowning100

[2019-06-05 01:06] #123 closed

[2019-08-20 20:15] bushbass opened #129 "tutorial step 9 grapiql link doesn't work if you use port !== 3000"
I started the tutorial on port 5000.  Towards the end of step 9 it tells you to check something out on GraphiQL.  I guess the port number is hard-coded to port 3000.  It would be nice to have the port number dynamically so that no matter what port the student starts on this link still works.

[2019-09-09 01:11] jamesdwilson commented on #43
Is this still occurring? I need a good image uploading example if anyone has one.

[2019-09-12 13:35] valgalin opened #130 "Error: There is already a collection named "cronHistory" (example-forum package)"
I recently cloned new Vulcan Starter repo and enabled example-forum package. There is an issue when I run it. It gives the following error: There is already a collection named "cronHistory".

[2019-09-12 13:39] #130 closed, assigned to nobody

[2019-09-13 14:06] adalidda opened #131 "latest example-forum bug: Error: There is already a collection named "cronHistory""
Hi Sacha,

I just git clone the latest version of Vulcan Starter example-forum. When I npm install and npm start, I got the following error:
W20190913-21:01:02.142(7)? (STDERR) /home/kauprey/.meteor/packages/promise/.0.11.2.1rxqxdq.d4m4g++os+web.browser+web.browser.legacy+web.cordova/npm/node_modules/meteor-promise/promise_server.js:218
W20190913-21:01:02.142(7)? (STDERR)       throw error;
W20190

[2019-09-22 05:16] adalidda commented on #131
Hi,

I found that this bug is fixed by editing the example-forum/package.js

and change

'percolatestudio:synced-cron',

to

//    'percolatestudio:synced-cron',

Thank You
Adalidda

[2019-09-25 15:57] eric-burel commented on #118
See https://github.com/VulcanJS/Vulcan/issues/2211. This issue will be resolved when we handle nested schemas, probably in the next release.

Closing because this repo is only for the starter itself.

[2019-09-25 15:57] #118 closed

[2019-09-25 15:58] #38 closed

[2019-09-25 16:07] eric-burel commented on #67
Vulcan package.json is usually the reference, but we try to keep both in sync as much as possible.

When having issues with Babel you usually need to reinstall using `meteor npm i`, let us know if you have more precise errors.

[2019-09-25 16:07] #67 closed

[2019-09-25 16:10] eric-burel commented on #131
It has been replaced by littledata:synced-cron. This will be fixed in the next release of the starter.

[2019-09-25 16:15] eric-burel commented on #119
Hi, I've managed to reproduce this issue. It may just be an UI issue, I don't know yet.

[2019-09-25 16:29] eric-burel commented on #100
Voting is handled in the `vulcan:voting` package. Help is welcome to fix this issue. We probably won't be able to maintain such packages in the future, voting looks simple but is actually a complex issue if you don't want people to be able to cheat and you want to handle concurrent calls.

[2019-09-25 17:16] eric-burel commented on #119
Closing because I don't have this issue on the latest "devel" branch.

[2019-09-25 17:16] #119 closed

[2019-09-26 00:49] adalidda commented on #131
Thank You @eric-burel

[2019-10-07 10:33] eric-burel commented on #103
Closing as stale, let me know if it still doesn't work. Currently step 15 is blocking due to a change in the UI, will be fixed very soon after we update to 1.13.3.

[2019-10-07 10:33] #103 closed

[2019-10-14 14:02] #131 closed

[2019-11-16 08:29] adalidda opened #137 "Issue with the latest Vulcan-Starter"
Hi,

When I run npm start
I got the following error:
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.8 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.8: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

And I don't know if it's related but in all my code where I use javascript String slice() method

[2019-11-17 08:32] adalidda commented on #137
I think that this version is not yet ready for version 1.14.0. Will wait for the next update.

[2019-11-17 08:32] #137 closed

[2019-11-20 14:44] Apollinaire commented on #137
FYI the npm warnings about fsevents are normal. They just say "We did not install fsevents because it only works on macOs and you are on Linux".

[2019-11-20 17:34] DylanKojiCheslin opened #138 "step 12 displayName not displayed"
on the "devel" branch on step 12 the displayName is never shown and the following steps don't render as intended.

seen on a two repo installation with both on "devel" branch at 1.14.0
OS: Ubuntu 18.04.3 LTS

bug example repo: https://github.com/DylanKojiCheslin/step12Bug

[2019-11-21 13:29] yairtal opened #139 "Change password won't open with material design"
Steps to reproduce:

1. add material design to the project.
2. example forum, ui-material -> UsersEditForm -> Change password
3. Modal won't open

Steps to work around:

Change the ModalTrigger to have a TooltipButton Component in it - and it'll trigger the modal

[2019-11-25 19:36] DylanKojiCheslin commented on #138
https://github.com/DylanKojiCheslin/step12Bug/blob/devel/Screenshot%20from%202019-11-20%2006-42-22.png

[2019-12-04 15:29] loustak commented on #138
Same problem here, no errors and warnings in the console.

[2019-12-04 16:42] eric-burel commented on #138
Sorry I try to repro based on your code but I am stuck at `"Invariant Violation: Could not find "client" in the context or passed in as an option. Wrap the root component in an <ApolloProvider>"`.

I just updated the starter master branch so 2 repo install is not necessary to test, I just run the app as a 1-repo install

[2019-12-04 16:43] eric-burel commented on #138
I don't have this message on a fresh starter install (but I did not actually test your issue on step 12 yet)

[2019-12-05 14:57] yannick-mayeur opened #140 "Step 18 error when sorting"
When uncommenting the line in the MovieApp2 component, the render of the list fails with: `Network error: Response not successful: Received status code 400`

The node server throws the following error:

[code]

[2019-12-06 23:40] DylanKojiCheslin commented on #138
I tried this on a devel 1-repo setup and it had the same behavior Vulcan 1.14.0, Ubuntu 18.04.3 LTS .

in both cases (1 & 2 repo) I had to manually installed babel with "meteor npm install --save @babel/runtime" due to an error saying bcrypt wasn't installing (this is specfic to Ubuntu afaik). I also have run "npm audit fix" on both so either could be causing the issues that @eric-burel was seeing

[2019-12-08 02:53] adalidda opened #142 "Example-Forum New version - How to handle multiple category parameters ?"
Hi,

In the version <1.14, we use
http://localhost:3000/?cat=agro&cat=agroindus&cat=agtech
to display list of posts from category agro or category agroindus or category agtech

In the new version, I am trying
http://localhost:3000/category/agro?/agroindus?/agtech

and

http://localhost:3000/category/agro&cat=agroindus&cat=agtech

but both display a list of post from category agro ONLY.

What shoul

[2019-12-08 07:05] adalidda commented on #142
In PostHome.jsx, I am also trying

  return <Components.PostsList input={{ search, filter: { _byCategory: { _in: ['agro','agroindus','agtech'] } },sort: { [getOrderProperty(currentRoute)]: 'desc' } }} />;

but got the following error:

[GraphQL error]: Message: Variable "$input" got invalid value { limit: 20, enableTotal: true, enableCache: false, filter: { _byCategory: [Object] }, sort: { score:

[2019-12-09 09:47] eric-burel commented on #138
Ok I've managed to do a repro.
@SachaG I think you wanted the `hasOne` relation to be implicit, using `collection.js` `addAutoRelations` function, but it is not yet used according to your comment. So we need to explicitely add `relation: "hasOne"` to the field name. Will PR.

[2019-12-09 09:50] eric-burel commented on #138
Can you please check that the change I made in https://github.com/VulcanJS/Vulcan-Starter/pull/143 fixes step 12 for you, so I can close this issue?

[2019-12-09 10:01] eric-burel commented on #140
@yannick-mayeur Can you please try to replace `orderBy` by `sort`?
You can check the schema using GraphQL Playground on the `/graphql` URL:
![image](https://user-images.githubusercontent.com/7983005/70426319-230f7c00-1a73-11ea-9fc7-1bf2a2511128.png)

Here you notice a `sort` field and no `orderBy` hence this issue (`orderBy` was probably used before the recent update of Vulcan).

[2019-12-09 10:02] eric-burel commented on #87
Should be solved now we updated Vulcan

[2019-12-09 10:02] #87 closed

[2019-12-09 10:03] eric-burel commented on #88
Could not repro, feel free to reopen an issue if it happens again

[2019-12-09 10:03] #88 closed

[2019-12-09 10:04] eric-burel commented on #74
Step is updated, feel free to reopen

[2019-12-09 10:04] #74 closed

[2019-12-09 10:04] #37 closed

[2019-12-09 10:06] #22 closed

[2019-12-09 11:38] DylanKojiCheslin commented on #138
It works, thank you.

[2019-12-09 11:38] #138 closed

[2019-12-09 15:27] yannick-mayeur commented on #140
I will try that

[2019-12-10 13:43] yannick-mayeur commented on #140
It seems to work when using `sort` instead of `orderBy` in the `MovieApp2` component.
But the `defaultInput` from `collection.js` has no effect even when using `sort`. Movies always first appear at the top of the list and then get to the bottom or to the position specified by the `MovieApp2` component.

[2019-12-10 13:48] eric-burel commented on #140
See maybe https://github.com/VulcanJS/Vulcan/issues/2445? Now filtering/sorting is done by `mongoParams` and not by `collection.js` `getParameter` function, which is unused.

[2019-12-10 14:00] yannick-mayeur commented on #140
So should this part be removed from the Starter and an example using `mongoParams` be added instead?

[2019-12-10 14:42] eric-burel commented on #140
Yes but I don't think you'll be able to solve that directly. The issue is that the Datatable uses the old `multi` HOC, which in turns uses the old `getParamaters`. I think the solution is to use `multi2` in the datatable, in Vulcan core.
But you can at least open a PR that replace "orderBy" by "sort" if it does not explode and remove the error message

[2019-12-10 14:51] #140 closed

[2019-12-10 14:52] eric-burel commented on #12
Closed as resolved

[2019-12-10 14:52] #12 closed

[2019-12-13 18:48] malogode opened #154 "The <UsersEditForm> of Example-Forum don't work."
Hi, I'm setting up Vulcanjs 1.14.0 two Repo new on a Test Computer.
When I am logged in and click on the Menupoint "User Edit", I get an empty Side. The mistakes are in the attach.
[mistake.txt](https://github.com/VulcanJS/Vulcan-Starter/files/3962247/mistake.txt)

[2019-12-15 04:44] adalidda commented on #142
Finally, I make it work by using return { selector
inside customFilters .

Love to see more examples in the doc section

input MovieFilterInput {
 _and: [MovieFilterInput]
 _not: MovieFilterInput
_or: [MovieFilterInput]
  _id: String_Selector
createdAt: Date_Selector
userId: String_Selector
slug: String_Selector
title: String_Selector}

in particular example with _and, _or etc... I am a little bit

[2019-12-16 08:14] eric-burel commented on #142
Closing as solved. You're right, documentation and examples will improve over time as this is a very recent update.

[2019-12-16 08:14] #142 closed

[2019-12-16 08:37] eric-burel commented on #154
Tagging @SachaG

I've investigated and the issue is that this part of the code is just not up to date. Some fields have been deleted in the `packages/example-forum/lib/modules/users/custom_fields.js` but not in the User profile page/fragment.

To have more insight, you can usually check the network tab too.

However one thing that bothers me is that `withSingle2` does not produce an error on wrong

[2019-12-16 08:38] eric-burel commented on #154
We would be really happy to take PR from contributors on this part, because maintaining those packages can be time consuming while we already have a lot of work on the core.

[2020-01-16 06:18] williamli opened #157 "Use `meteor npm install` instead of just `npm install`"
Since Meteor uses a really outdated Node.js version (v8.15.1) while the latest LTS version is already on 12.x, it is highly likely that the Node.js version on anyone's computer still defaults to 8.x; it is better for the npm packages to be installed with the Node.js installed with Meteor.js.

Instead of doing a `npm install`, `meteor npm install` should be used in https://github.com/vulcanjs/vulca

[2020-01-16 06:20] williamli commented on #157
Reposted here https://github.com/VulcanJS/Vulcan/issues/2506

[2020-01-16 06:20] #157 closed

[2020-01-30 14:04] eric-burel opened #158 "Change module folder naming convention to fit typeName instead of collectionName"
Following discussion with @Neobii , using the plural `collectionName` is a source of complexity, discrepancies and even bugs.
Automatically computing the plural can give unexpected results (like "schema" > "schemata" instead of the more usual "schema") and even name clashes.

Instead, the `typeName`, singular should be preferred on many occasions. All the more that in the future we may have more a

[2020-03-12 13:36] vipinlahoti opened #162 "UserInputError: voting.no_permission - Issue with example forum"
.meteor/packages/promise/.0.11.2.1xavwef.9sbp++os+web.browser+web.browser.legacy+web.cordova/npm/node_modules/meteor-promise/promise_server.js:218
      throw error;
      ^

UserInputError: voting.no_permission
    at throwError (packages/vulcan:lib/lib/server/errors.js:14:9)
    at Promise.asyncApply (packages/vulcan:voting/lib/modules/vote.js:291:5)
    at /Users/vipin.lahoti/.meteor/packages/p

[2020-03-14 08:37] MeteorOC opened #163 ""withUpdate" has incorrect description in document"
![image](https://user-images.githubusercontent.com/38990160/76678242-29346c00-6611-11ea-84e4-4801c78ab66a.png)
the property of _id shoule be replace to "selector" and use it such like:
[code]
Sorry for my bad english :(

[2020-03-14 08:51] #163 closed

[2020-03-25 03:08] adalidda opened #164 "Example forum - input sort with " not working"
Hi,

In the documentation, the sort option is used with ", example year: "desc" but in example forum if I used

    query: `
      categories(input: {sort: {name: "asc"}}) {
        results {
            _id
            name
            slug
          }
        }
      `,
I got an error.

If I change it to

    query: `
      categories(input: {sort: {name: asc}}) {
        results {
            _

[2020-03-28 15:33] adalidda opened #165 "Field "_nin" is not defined by type String_Selector - Example Forum"
Hi,

the query with _in is implemented but the query with _nin seem not yet implemented.
If I try to use the syntax like in Hasura https://hasura.io/docs/1.0/graphql/manual/queries/query-filters.html#list-based-search-operators-in-nin

query {
  author(
    where: {name: {_nin: ["Justin","Sidney","April"]}}
  ) {
    id
    name
  }
}

I got the error Field "_nin" is not defined by type String_Sel

[2020-04-01 12:22] adalidda opened #166 "Strange Bug in Example Forum - PostsPage if use <Components.PostsList"
Hi,

I have change the PostsPage.jsx from:
          <Components.PostsCommentsThread postId={post._id} input={{ filter: { postId: { _eq: post._id } } }} />

to

          <Components.PostsCommentsThread postId={post._id} input={{ filter: { postId: { _eq: post._id } } }} />
          <Components.PostsList input={{ enableCache: false, sort: { appDeadLine: 'asc'}, limit: 5,filter:{ appDeadLine: {_gt:

[2020-04-04 18:43] adalidda commented on #166
Hi,

This bug is fixed by running inside if (Meteor.isClient)

if (Meteor.isClient) {
    return (...)
}

[2020-04-19 04:43] trusktr opened #167 "Unable to successfully run "npm install" in Manjaro Linux."

[2020-04-19 04:45] trusktr commented on #167
Oops, I pressed enter too fast.

I cloned the repo, then ran `meteor npm install` and it ends with errors:

<details><summary>full output</summary></details>

[code]

I get the same errors with `npm install` using the latest `npm`.

Any ideas? Looking forward to trying this. :)

[2020-04-19 04:49] trusktr commented on #165
Hello, please post code properly so people can read it and help you. See the [Markdown guide](https://guides.github.com/features/mastering-markdown/).

If you write

[code]

the result is

[code]

[2020-04-19 04:51] trusktr commented on #166
Can you close this issue if you've solved your problem?

[2020-04-19 13:40] ClockRide commented on #167
Same for MacOS Catalina 10.15.5 :(

[2020-04-19 18:40] ClockRide commented on #167
Fixed by changing Node.JS Version to 12.16.2

[2020-04-20 06:38] eric-burel commented on #167
This is probably more a Meteor issue than a Vulcan issue, we updated to 1.10 just recently on the devel branch.

[2020-04-29 01:30] TomFreudenberg commented on #167
Hi, as Joe @trusktr I would like to test this [coming from old meteor days ;-) ]

Unfortunaley it doesnt work as described.

I tested with node v10.20.0 and v12.16.3 as well as with master and devel branch from this repo and meteor 1.8.

Neither master or devel may be able to be updated to meteor 1.10 via meteor update.

With devel branch I can't even run npm install

With master branch npm instal

[2020-04-29 01:40] TomFreudenberg opened #169 "current vision to vulcanJS"
Hi @SachaG

before trying and starting to think about using VulcanJS I would like you to ask about the effort is spent on VulcanJS currently and in future.

Is this becoming "a dead project" or are you continuing pushing it forward ?

It would be great to get a simple answer before I may start a project using VulcanJS.

Currently the starter for me does not work and there are a number of old dated

[2020-04-29 08:48] eric-burel commented on #169
Hi Tom,

Will answer for Sacha, I am currently taking care of issues and PR.

Short answer: the project is still active. We are preparing a migration toward NPM and Next.js, as a replacement for Meteor, that will make up the "v2" of Vulcan. The Meteor "v1" will still be maintained, for a very good reason: most of the code will be shared (schema system, graphql code generation, React components....

[2020-04-29 08:51] eric-burel commented on #167
@TomFreudenberg can you please check your version of react-helmet? It should be version 6

[2020-04-29 08:54] #169 closed

[2020-04-29 08:57] TomFreudenberg commented on #169
Hi Eric,

Thanks a lot for your answer in details.

I came along after reading this article from Sascha (again)

https://medium.com/@sachagreif/an-open-letter-to-the-new-owners-of-meteor-353d64780b20

So yeah, leaving meteor now makes sense and is consequent. Very sad story for that "unicorn" project.

See you on Slack.

Cheers
Tom

[2020-04-29 09:02] TomFreudenberg commented on #167
Hi @eric-burel

yes, it is version 6

Does it mean I should use the https://docs.vulcanjs.org/#Two-Repo-Install-Optional procedure with master and devel branches as you mentioned?

[2020-04-29 09:03] eric-burel commented on #167
Yeah if the normal install is broken that's better, sorry for this normally the master branch of the starter is supposed to work with the currently published version. Will be fixed soon.

[2020-04-29 10:00] TomFreudenberg commented on #167
Hi @eric-burel can't make it in any way:

### That's the used code base

[code]

### That's my used tools

[code]

### Try 1

[code]

##### RESULT 1

This at least failed on build bcrypt

<pre>
npm ERR! Failed at the bcrypt@3.0.3 install script.
</pre>

### Try 2

[code]

##### RESULT 2

This will build but failed running the app

<pre>
=> Started proxy.
=> Meteor 1.10.2 is available. Update this

[2020-04-29 10:02] TomFreudenberg commented on #167
@eric-burel

You mentioned Vulcan 2.0 based on next.js to me.

Is there already a starter or kind of documentation to go on with that? Maybe better than to spend effort into other.

[2020-04-29 10:03] eric-burel commented on #167
Regarding the Apollo version constraint come on Slack, you are not the only one to have this issue. Basically it's Meteor going nuts during update for no reason, but some users have found solutions for this.

Sadly no for Next version, we are currently investigating Next possibilities and limitations thoroughly before doing anything.

[2020-04-29 10:07] eric-burel commented on #167
From @kevinashworth

[2020-04-29 19:41] TomFreudenberg commented on #167
Hi @eric-burel

after a day of trying different releases - constraints etc. - result: WON'T WORK :-(

I have managed to install and get VulcanJS from devel build and running.

That is now using meteor 1.10.2

But the starter based on meteor 1.8.1 is a mess in case of constraint conflicts.

Neither combination were successfull and could get started.

I guess it would be the right way to upgrade the

[2020-04-29 19:48] TomFreudenberg commented on #167
Maybe my question was a bit unclear - is there a chance to start a VulcanJS project without the Starter project?

[2020-04-29 20:48] TomFreudenberg commented on #167
**YIHAAA**

@eric-burel @trusktr

Find a way to get the `example-simple` running:

##### Steps to reproduce:

[code]

Now you should be able to run `meteor` and get some response in browser

##### Get the example

[code]

Now you should get the example simple app in your browser.

**TADAAAA**

@eric-burel - I will create a fork and send you a pull request

[2020-04-30 00:18] TomFreudenberg commented on #167
Until the PRs are accepted you may try:

[code]

[2020-04-30 00:19] TomFreudenberg commented on #167
@trusktr Joe - wondering if that fixes the issue on your side too?

[2020-05-08 01:38] #166 closed

[2020-05-10 12:16] yehudaRipple opened #172 "npm start fails"
when running `npm start` I get the following error

[[[[[ ~/repos/vulcan/Vulcan-Starter ]]]]]

=> Started proxy.
=> Errors prevented startup:

   While selecting package versions:
   error: No version of getting-started satisfies all constraints: @=1.15.0,
   @=0.0.0
   Constraints on package "getting-started":
   * getting-started@=1.15.0 <- top level
   * getting-started@=0.0.0 <- top level

=>

[2020-05-11 07:54] eric-burel commented on #172
Just fixed, thanks

[2020-05-11 07:54] #172 closed

[2020-05-11 11:46] yehudaRipple opened #173 "npm start fails - Cannot find module 'fibers/node_modules/fibers/node_modules/fs'"
After running npm start I get the following error:

W20200511-14:36:21.405(3)? (STDERR) internal/modules/cjs/loader.js:985
W20200511-14:36:21.425(3)? (STDERR)   throw err;
W20200511-14:36:21.425(3)? (STDERR)   ^
W20200511-14:36:21.425(3)? (STDERR)
W20200511-14:36:21.426(3)? (STDERR) Error: Cannot find module 'fibers/node_modules/fibers/node_modules/fs'
W20200511-14:36:21.426(3)? (STDERR) Require s

[2020-05-11 11:55] eric-burel commented on #173
Can you run commands using `meteor npm` instead of just npm? Sounds like a version issue, to be confirmed. Maybe also clean your node_modules

[2020-05-11 12:32] yehudaRipple commented on #173
tried it and got the same error after running
`rm node_modules/ -rf`
`meteor npm i`

Would you also please explain what you mean by version issue?  My company deciding whether to use Vulcan and I would like to understand more.  Thank you.

[2020-05-11 13:55] eric-burel commented on #173
You may want to get more info on Meteor itself then. Meteor recommends to call `meteor npm` because it guarantees that you run the same Node version as Meteor.
You can also install the correct version of Node on your machine too.

People on the Meteor forum could probably help better, it seems related to Meteor update, I could not reproduce

[2020-05-12 06:32] yehudaRipple commented on #173
I reinstalled meteor and the error went away

[2020-05-12 07:34] eric-burel commented on #173
Good to hear! Please close issues when they are fixed.

[2020-05-12 07:34] #173 closed

[2020-06-09 22:28] Kellokes opened #178 "ResolveAs doesn't work to appear the correct field on card"
Hi Guys,

I'm trying to get the name field of Service Schema and Field schema trough the Form Schema using Resolve As, but when I pass the fields of ServiceId and FieldsId in the field parameters on the ComponentCard dind't appear the result with name fields of Service Schema and Field Schema.

I believe that ResolveAs it is not ready correctly with the component card.

What are the correct settin

[2020-06-09 23:31] ErikDakoda commented on #178
Have you tried the new "Relations" api? https://docs.vulcanjs.org/relations.html

You should be able to drop `query` and instead add `relation: 'hasOne'` or `relation: 'hasMany'`  to `resolveAs`

[2020-06-14 07:47] #165 closed

[2020-08-18 20:33] ErikDakoda opened #180 "Vulcan-Started devel branch is 2 commits ahead, 13 commits behind master"
`devel branch is 2 commits ahead, 13 commits behind master`
`v1.16` branch is 1 commit behind master`

Should we merge `v1.16` branch into `devel`?  Or should we create PRs against `v1.16`?

[2020-08-19 06:35] eric-burel commented on #180
Yeah we can merge indeed, 1.1.6 is published.
Sorry for those kind of discrepancies, I don't have a live Vulcan app currently so it takes me more time to test that. I'll probably create a new app in the weeks to come so it will be easier to test things.

[2020-09-02 06:33] adalidda opened #182 "Example-Forum Post Edit not working"
Hi,

Just to let you know that in the latest example-forum, when click to edit post, we got empty content instead of the content of the post to edit.

Thank You
Adalidda

[2020-09-05 14:34] adalidda commented on #182
Bug fixed in the yesterday release

[2020-09-05 14:34] #182 closed

[2020-09-13 02:29] inteldon commented on #167
I tried that and at each run this is failing.

I spent the last 4 days trying to move form Meteor to Vulcan, but man this project needs a ton of documentation before it can even have a hope to stand up to Meteor. I like the idea, but the pain I had to go through attempting to install it on Windows and Linux is just not worth it.

I'll give it a try again when they have consistent and up to date do

[2020-11-06 08:28] EloyID opened #185 "Cannot use SmartForm for creating new documents SmartForm.submitForm"
Hi,

I have the latest version of Vulcan and Meteor, and I am using
    "@apollo/client": "^3.2.5",

When trying to use à SmartForm to create a document of any collection I get a graphql error

TypeError: Cannot read property 'error' of undefined
    at SmartForm.submitForm (Form.jsx:1022)

https://github.com/VulcanJS/Vulcan/blob/3dcef3ee3b54cfb9ebbb59a2548b7b03de0a3eea/packages/vulcan-forms/lib/c

[2020-11-18 15:30] #185 closed

[2021-02-17 13:23] eric-burel commented on #31
Quote from Halima Olapade on Slack that might explain this issue:
"I think i figured out why the inbuilt voting is breaking. It's cause the Vote collection schema has a field called "documentId" but "documentId" seems to be some kind of reserved identifier. As a result this query always fails: https://github.com/VulcanJS/Vulcan/blob/devel/packages/vulcan-voting/lib/modules/vote.js#L52 so the syste

[2021-03-09 06:38] adalidda opened #188 "Conflict: Constraint error on the latest vulcan-starter (published 4 days ago) and temporary work around"
Hi,

On the latest vulcan-starter published 4 days ago, after running
npm install
and npm start I got many Conflict: Constraint error.

The work around solution is to import each vulcan package manually into vulcan-starter and install them.

Please found below my work around solution.

Thank You
Adalidda

------------------

kauprey@ubunextjs:~/Adalidda-V6.4.X/Vulcan-Starter$ npm start

 ___    __

[2021-03-09 08:17] eric-burel commented on #188
Hi, do you use a 2 repo install? It's because we are in the process of updating Vulcan.
@SachaG can you please publish the latest Vulcan devel packages? I don't have the rights on Atmosphere but I've prepared a 1.16.1 release on devel

[2021-03-09 11:05] adalidda commented on #188
No I use git clone vulcan-starter

[2021-03-10 00:39] adalidda opened #190 "TypeError: promisify is not a function, Cannot read property 'Vulcan' of undefined"
Hi,

In the latest vulcan-starter/example-forum, I often got these errors:
Uncaught TypeError: promisify is not a function
    at module (modules.js?hash=49742294dbc91c9769ebde47f2a10c9b444818f1:93199)
    at fileEvaluate (modules-runtime.js?hash=23fe92393aa44a7b01bb53a510a9cab5fb43037c:346)
    at Module.require (modules-runtime.js?hash=23fe92393aa44a7b01bb53a510a9cab5fb43037c:248)
    at Module.

[2021-03-10 07:47] eric-burel commented on #190
Yeah I've seen that, it seems related to Meteor handling default export in a weird way
See https://forums.meteor.com/t/meteor-node-stubs-installed-but-still-not-seeing-the-util-function-promisify/55195 by @kevinashworth

[2021-03-10 07:47] eric-burel commented on #190
Closing because this is Meteor related, feel free to open smth on Meteor forum instead

[2021-03-10 07:47] #190 closed

[2021-04-20 17:15] TomFreudenberg commented on #188
Hey @eric-burel @SachaG

I am very sorry writing this and hopefully you take this as a really touched comment and well-intentioned criticism.

Again I am here at Vulcan willing to check and use this stack for a new customer project - but - also again - I am giving up in case that not even the Starter repo is working to have some fiddle around before diving into a project.

That's really a pitty fo

[2021-04-21 08:43] eric-burel commented on #188
Hi @TomFreudenberg , we use Vulcan only on existing projects (Live for Good platform for me, and Sacha has his own projects like Sidebar).
I don't really advise to start new projects based on Vulcan Meteor, as we are transitioning toward Next and the NPM ecosystem : https://github.com/VulcanJS/vulcan-next. This work is ongoing, so Vulcan Next already includes many of Vulcan backend capabilities, b

[2021-04-21 16:58] TomFreudenberg commented on #188
Hi @eric-burel

thanks for your open and clear words - Currently with this project I am not able to step into "Vulcan Next" - but I checkout earlier for the next time.

Until then - good luck to you and your projects!

Tom

[2021-07-02 02:37] #116 closed